[2015-10-28 15:50] kurtw commented on #1097
There's a JS module that is executed for each link visited which checks the URL against a regex to determine if it's an external link. That was the purpose of links.sh so it seems that it's useless after all.

[2015-10-28 15:53] Scotchester commented on #1097
Uhhhhhhhhhh. I seriously dislike the idea of checking every clicked link with JS. Won't that be a serious drag on performance? Am I missing something?

[2015-10-28 15:58] kurtw commented on #1097
@sebworks?

[2015-10-28 16:32] sebworks commented on #1097
It is needed because we don't want the users to be able to redirect to any random external page by passing in a query-string parameter. We still need to implement the functionality on the server. There might be a better way to do it without using links.sh.

[2015-10-28 16:40] sebworks commented on #1097
@Scotchester, there certainly is a performance cost associated with intercepting every link click and running the regex.  I'm open to ideals on how this can be done in a more efficient manner.

[2015-10-29 19:12] #1004 closed

[2015-10-30 19:58] anselmbradford commented on #597
Chatting with @sebworks about how we might evolve the file structure to handle our atomic design direction. The idea came up to have a [folder by feature structure](https://github.com/johnpapa/angular-styleguide#folders-by-feature-structure), so that each atom/molecule/organism would have all its assets together. Something like:

[code]

What do bewds @kurtw @kave @rosskarchner think about this? R

[2015-10-30 21:15] Scotchester commented on #597
Just gonna throw this out there... `preprocessed` might not be the most future-proof name ;) (And it already sounds like the resulting CSS files AFTER preprocessing.)

[2015-11-02 15:21] anselmbradford commented on #597
@Scotchester Here's the background on that folder name https://github.com/cfpb/cfgov-refresh/pull/1015 Though I'm not sure whether `preprocessed` is a Django convention or not.

[2015-11-02 15:32] kurtw commented on #597
I think we're starting to get too far from best practices with that. It may be a nice to have everything grouped by feature but this is just...weird. Conventions have static assets in one folder and template in another.

`preprocessed` is not a Django convention. Might I suggest 'unprocessed`? :D

[2015-11-02 16:25] anselmbradford commented on #597
@Scotchester I realized I wrote putting the compiled main.css file in `preprocessed`, I meant `static_built`.

@kurtw So take the filter-filterable-list for example, with the existing setup we have:

[code]

Do you see a better way?

Also, +1 to `unprocessed`

[2015-11-02 17:58] Scotchester commented on #597
What I was trying to get at is that "preprocessed" is the output of the preprocessor. https://en.wikipedia.org/wiki/Preprocessor

[2015-11-03 19:03] anselmbradford opened #1135 "Move prototype pages to /proto/ URL"
Instead of creating new entries in `cfgov/cfgov/urls.py` for each prototype page, how about we move them all to a `localhost:8000/proto/*` parent directory and just ignore that path? Would this work @kurtw ? This would also separate our prototype paths from production paths in the file structure.

[2015-11-03 20:06] KimberlyMunoz commented on #1135
If it works, I think this is a better solution. :+1:

[2015-11-04 15:54] kurtw commented on #1135
Hmm. So are you just looking to support another set of url patterns? This broader conversation is starting to sound like we want a `proto` app where we can experiment without screwing around in our official v1 app.

[2015-11-04 15:56] kurtw opened #1137 "Change name of app from v1"
V1 is inherently a temporary name. The name of our app shouldn't be temporary. The project's name is `cfgov` and we'll be using the `core` app to store our "toolset". Any ideas?

[2015-11-04 17:23] anselmbradford commented on #1135
I'd be on board with a proto app if that makes the most sense. I'm not too keen on the mix of prototype and production code we currently have going on. This also would be a preview of what things like OAH would look like integrated into the project, right?

[2015-11-04 18:13] kurtw commented on #1135
As in, OAH could look at the app and see how things would look?

[2015-11-04 21:00] anselmbradford commented on #1135
As when OAH is added to our architecture it'll be an app, right? So we can see how that looks and OAH can as well.

[2015-11-04 21:56] jimmynotjim commented on #1137
How about just `main-site` or `parent-site`?

[2015-11-05 15:07] kurtw commented on #1137
Hyphens kind of make python barf...however, let's say our atomic work is "finished". We _might_ want to make that it's own project by itself, and our `v1` or `main-site` app will be in it's own isolated project. Take a look at cfgov-django's app structure. Our team's work could be encapsulated in that project and then installed as an app into cfgov-django. @rosskarchner I'd like to know your thoug

[2015-11-05 15:11] kurtw commented on #1135
Oh I see. Kind of. See that comment on what I think we should consider about the site.

https://github.com/cfpb/cfgov-refresh/issues/1137#issuecomment-154086963

[2015-11-05 18:32] rosskarchner commented on #1137
I've been thinking the other way around: we move our legacy Django apps into cfgov-refresh (open sourcing a bunch of them in the process).

My votes would be:
- "core"
- merging cfgov/v1 into cfgov/cfgov

[2015-11-05 18:48] jimmynotjim commented on #1137
I'm going to vote for not repeat names anywhere in the dir structure, that just makes describing locations to others difficult.

[2015-11-05 18:49] kurtw commented on #1137
I was thinking "core" would house our atomic elements, whereas "v1" would use them. Is it okay to merge app code into the project's folder for settings, urls.py, etc?

[2015-11-05 18:51] kurtw commented on #1137
Does anyone see anything wrong with naming it `flapjack`?

[2015-11-05 19:21] Scotchester commented on #1137
:heart: :heartbeat: :heart_eyes_cat:

[2015-11-05 19:23] rosskarchner commented on #1137
Yeah-- they're just python packages.

other ideas:

cmscore
cmstypes
cms

wagtail calls their own primary package 'wagtailsite' https://github.com/torchbox/wagtail-wagtailsite

[2015-11-06 12:54] kave commented on #597
true i agree unprocessed makes more sense

[2015-11-06 15:03] kurtw commented on #597
So these files that you're describing are under subject to change. We're discussing how our Django project will eventually be structured and without tipping the hand prematurely before a decision has been made, things will be different in the way it's structured.

Fundamentally, I think organizing files by `organism` and `molecule` is a great way to go but I'm very hesitant to put them together in

[2015-11-06 21:11] #480 closed

[2015-11-06 21:12] KimberlyMunoz commented on #565
Since we have different preprocessing on environment, can we close this @anselmbradford ?

[2015-11-06 21:13] KimberlyMunoz commented on #722
Closing this since we've managed to take care of it with our new molecular approach.

[2015-11-06 21:13] #722 closed

[2015-11-09 13:47] anselmbradford commented on #722
Woo!

[2015-11-09 13:56] anselmbradford commented on #565
Probably should stay open. It's still an issue, albeit minor.

[2015-11-10 18:42] KimberlyMunoz opened #1146 "Check how phone numbers are formatted/entered"
**50-50 Image Text Molecule**
- [x] Change "Is widescreen" to "Use 16:9 image"
- [x] Change "is button" to "Show link as button"
- [x] Enable the ability for multiple links with the 50-50 image. (Also an issue for 75-25 text-image)
- [x] Eliminate the "image path" field and replace with the wagtail image selector

**Contact molecule**
- [x] Examine the character limit for contact titles from 22 to

[2015-11-12 14:22] anselmbradford opened #1150 "Update ESLint settings for consistent bracket handling"
See https://github.com/cfpb/cfgov-refresh/pull/1134/files#r44039211

Any preference for a space in the brackets vs no space?

[2015-11-12 16:51] Scotchester commented on #1150
I'm against spaces in square brackets, because they rarely are passed in stuff complex enough to warrant them, except in the case of a literal array definition, as noted in your comment.

[2015-11-12 22:33] KimberlyMunoz commented on #951
Closed by #1142.
![image](https://cloud.githubusercontent.com/assets/1860176/11133369/7e42f188-8963-11e5-9341-7ff2baef705d.png)

[2015-11-12 22:33] #951 closed

[2015-11-12 22:50] #1079 closed

[2015-11-16 15:58] #1029 closed

[2015-11-20 22:02] sebworks opened #1161 "Expandable/ExpandableGroup prototypes focus issue"
The entire Expandable isn't highlighted when the element has the focus.
Depicted in the following image :

![image](https://cloud.githubusercontent.com/assets/1860176/11229219/39fedc92-8d61-11e5-86a3-fc55803e3b9a.png)

[2015-11-23 15:30] anselmbradford commented on #1161
Technically the clickable area of the expandable is the area highlighted with the border, not the whole expandable. So when tabbing to the expandable the highlighted area shown is what would receive keyboard input, since that's the only area that responds to mouse clicks. I do agree it looks weird though. So does it matter if the border is not truly the active area, and instead is the whole expand

[2015-11-23 20:02] KimberlyMunoz commented on #1161
The issue is more that it looks off. It can be fixed by either adding focus to the entire expandable or fixing the bottom focus.

[2015-11-25 15:13] anselmbradford opened #1172 "Update expandable state to use Object.defineProperty"
See https://github.com/cfpb/cfgov-refresh/pull/1153#discussion_r44844827

[2015-11-27 15:41] anselmbradford commented on #1172
See https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/unprocessed/js/modules/util/aria-state.js

[2015-11-27 19:12] anselmbradford opened #1176 "Break out check for IE stylesheet"
Break [this](https://github.com/cfpb/cfgov-refresh/blob/flapjack/test/browser_tests/spec_suites/header.js#L40-L44) apart into something like:

[code]

[2015-11-27 19:12] anselmbradford opened #1177 "Break out check for IE stylesheet"
Break [this](https://github.com/cfpb/cfgov-refresh/blob/flapjack/test/browser_tests/spec_suites/header.js#L40-L44) apart into something like:

[code]

[2015-11-27 19:12] #1176 closed

[2015-11-27 20:49] anselmbradford commented on #1177
NVM, forgot it's one or the other, not either or!

[2015-11-27 20:49] #1177 closed

[2015-12-01 14:43] kurtw opened #1180 "Investigate Wagtail's publishing mechanism for bug"
#1178 was introduced because the page object being passed to the hook functions after publishing was Page and not the specific page class object. This could be a bug in Wagtail.

[2015-12-08 21:44] anselmbradford opened #1201 "Add path resolver npm module"
See https://github.com/cfpb/cfgov-refresh/pull/1189#issuecomment-161723605

Ideally we'd have a module to resolve relative paths where require statements have deep relative paths, especially in the cases of JS found in the acceptance and unit tests.

[2015-12-10 15:08] tnferrell opened #1206 "Text styling in hero, 25/75, disclaimer."
Text in Hero, 25/75 organsim and disclaimer text in the email organsim isn't styled. Data & Research page preview is a good example.  @KimberlyMunoz @jimmynotjim @anselmbradford @sebworks

[2015-12-10 21:35] kave commented on #1206
@tnferrell resolved it'll be fixed in the next refresh push

[2015-12-10 21:38] kave commented on #1146
@KimberlyMunoz have the contact molecule issues been resolved?

[2015-12-11 14:23] kave opened #1211 "Page Specific JS"
With our transistion to wagtail, URL's can now be dynamically created/edited/deleted in real-time. With that brings a new problem of loading page-specific JS since the previous method was statically creating these routes on the backend because URLs were unchanged and decided upon before.

A tentative solution is upon page creation/edits/deletion, a JSON file is created that houses the page details

[2015-12-14 16:48] KimberlyMunoz commented on #1146
I think so. I'll check today.

[2015-12-15 13:53] schaferjh opened #1218 "Gray well organism needs option for 2 columns"
Per team discussion during working session 12/11/15:

We want gray wells to be somewhat short so that they don't occupy a lot of height on the page. Allowing two columns within the well would support this design and content goal. We'll want to be able to choose this option within the CMS.

During the working session we discussed modifying the **half width link blob** so that just the text portion

[2015-12-15 15:33] jimmynotjim commented on #1218
Essentially. We'd split the __half width link blob__ into a parent __half width__ organism, and child __link blob__ molecule. We could then use the __half width__ organism elsewhere and for other molecules, like within the __gray well__.

[2015-12-15 16:34] tnferrell commented on #1206
The hero looks fixed, but the 25/75 and disclaimer text still look off.

[2015-12-15 16:35] tnferrell opened #1221 "Email organism duplicated"
The email organism is showing up twice on the page when it's only included once in the CMS.

[2015-12-15 16:45] tnferrell commented on #1206
The spacing between link and text in the 25/75 also looks like it varies depending on how many 25/75 are stacked. You can compare /consumer-help and /data-research.

[2015-12-15 21:41] KimberlyMunoz opened #1225 "Fix the table organism to include prototype data"
It was/will be removed in #1224 since it's causing an error on the learn-page.

[2015-12-15 22:06] KimberlyMunoz commented on #1218
Would the Half-Width organism be used in the 50-50-text-image organism?

[2015-12-16 01:57] kave commented on #1206
@jimmynotjim hey when you create a PR for the disclaimer text on Email Sign up could you link it here?

[2015-12-16 01:58] kave commented on #1221
@tnferrell hmm is this only happening on Landing Pages? i have a suspicion on what this is

[2015-12-16 17:20] jimmynotjim commented on #1218
I think it could.

[2015-12-16 17:27] kurtw commented on #1218
This sounds good. We'll need a list of molecules to include as "children" of the half width organism.

[2015-12-16 17:47] tnferrell opened #1228 "25/75 isn't an option in the Sublanding content area"
The 25/75 organism doesn't look to be an option in the sub-landing page content area. Think it was supposed to be included according to wiki template. @kave @kurtw

EDIT: Same thing with full width text field.

[2015-12-16 18:34] #1228 closed

[2015-12-16 18:34] jimmynotjim commented on #1206
Thanks for the reminder, this fell off my radar. PR opened here https://github.com/cfpb/cfgov-refresh/pull/1231. It's more than just the small change, I updated everything to use our latest and greatest data prototyping and included it all in the landing page so we can actually see what's going on.

[2015-12-16 18:35] kurtw commented on #1228
@tnferrell The fix needs to be deployed before you will be able to use the new fields. Standby.

[2015-12-16 21:21] jimmynotjim opened #1235 "Image Text 50/50 has too much spacing below"
It looks like padding that's added for when they stack on small screens needs to be scoped to just small screens and conditioned out of the last block to avoid too much distance between them and the next block.

![screen shot 2015-12-16 at 4 19 29 pm](https://cloud.githubusercontent.com/assets/1280430/11854290/f1217964-a410-11e5-82e3-c7d808799874.png)

[2015-12-16 21:23] jimmynotjim commented on #1235
The 25/75 has the same issue

![screen shot 2015-12-16 at 4 22 57 pm](https://cloud.githubusercontent.com/assets/1280430/11854335/4df26d2e-a411-11e5-84dd-0179eabb3b6f.png)

[2015-12-16 21:26] jimmynotjim opened #1236 "Link Blob Group is breaking it's bounds"
Originally it needed negative margin, but as things progressed it doesn't seem to any more

![screen shot 2015-12-16 at 4 26 04 pm](https://cloud.githubusercontent.com/assets/1280430/11854420/cae99438-a411-11e5-8137-d7e535b93e81.png)

[2015-12-17 20:06] sarahsimpson09 opened #1244 "Need the filterable list of post-preview organisms for sub-landing pages"
Was slated to be used only for browse filterable pages, but we'll need it to display the most recent reports on Data & Research > Research Reports sublanding page.

[2015-12-17 21:04] jimmynotjim commented on #1244
Will it include the filters or just the previews?

[2015-12-17 21:06] sarahsimpson09 commented on #1244
Just the previews!

[2015-12-17 21:12] jimmynotjim commented on #1244
Ok, thanks

[2015-12-17 22:35] sarahsimpson09 opened #1246 "Need single form field w/ button for Wagtail sublanding pages"
I need to be able to add the single form field w/ button molecule to the sublanding page template

[2015-12-18 19:40] anselmbradford opened #1248 "External site redirection needs to handle query parameters in redirected URL"
If an external URL contains URL parameters, such as a twitter share URL that includes hashtags and title text, the current external-site redirect will strip off the query parameters because the external URL itself gets fed into a `ext_url` query parameter, which makes ampersands ambiguous.

[2015-12-18 22:49] anselmbradford commented on #1248
Fix in https://github.com/cfpb/cfgov-refresh/commit/c9fd6e95651671bffcb73c4f09895732e081dfee

[2015-12-18 23:09] #1248 closed

[2015-12-21 16:06] tnferrell opened #1252 "25/75 module requiring headers"
25/75 organism is now requiring a group header when that should be optional. @kurtw @kave

[2015-12-21 16:27] kurtw commented on #1252
That _should_ be in a PR right now but I'm not near my laptop to check
easily.

On Mon, Dec 21, 2015, 11:06 AM tnferrell <notifications@github.com> wrote:

[2015-12-21 16:29] kave commented on #1252
@kurtw yup its been updated and merged into flapjack. waiting on the push to Refresh
https://github.com/cfpb/cfgov-refresh/pull/1250

[2015-12-22 11:21] kave commented on #1221
@tnferrell this should be resolved in refresh now

[2015-12-22 14:38] kave commented on #1246
@sarahsimpson09 do you mean in the main content area or the side bar?

[2015-12-22 18:38] kave opened #1258 "Review Atomic Element fields and determine field validation"

[2015-12-23 17:16] michaelrivera03 opened #1262 "content portion not showing up on wagtail sublanding drafts"
I'm running into issues viewing pre-drafted content on wagtail. Thinking it might be linked to the related content sidebar issue, but I get errored out before I can remove.

![image](https://cloud.githubusercontent.com/assets/14353344/11981246/dee2abca-a96e-11e5-856e-503805e10843.png)

![image](https://cloud.githubusercontent.com/assets/14353344/11981253/f51d2ac8-a96e-11e5-9135-1b5613a2dc64.png)

[2015-12-24 15:28] Schlachtmeyer opened #1268 "Unable to generate previews in Wagtail"
I'm able to enter content for Landing and Sublanding pages but unable to generate previews of anything. Not sure if this is owing to issues with some of the organisms -- I've been told about issues with Related Content -- but even pages without Related Content don't generate.

[2015-12-24 15:36] Schlachtmeyer opened #1269 "Discuss required elements on Landing & Sublanding pages"
For Text Introduction molecule, it seems that Wagtail is treating Links as required. They shouldn't be required, per wiki.

For 25/75 and 50/50 molecules, it seems that there's a group heading that's required. Per wiki, there is a required heading but that should be for individual 25/75 entries and not for the whole group.

In the E-Mail Signup organism, something called an ID is required. Not sur

[2015-12-28 13:45] kave commented on #1269
@Schlachtmeyer Hi this should be resolved now, please verify this is the case

[2015-12-28 15:10] kave commented on #1262
@michaelrivera03 of your created pages, which one are you seeing this problem?

[2015-12-28 15:12] kave commented on #1268
@Schlachtmeyer lets do a screenshare when you are available so i can see this happen as i am unable to recreate this problem

[2015-12-28 15:14] Schlachtmeyer commented on #1268
@kave Great -- can we make it like 1:00 today?

[2015-12-28 15:14] Schlachtmeyer commented on #1269
@kave - I'll get in this afternoon and work it through & let you know. Thx!

[2015-12-28 15:23] kave commented on #1268
@Schlachtmeyer yup that works. thanks!

[2015-12-29 18:40] Schlachtmeyer opened #1277 "Wagtail & other issues: Credit Card Data sublanding page"
[Not sure how to post this without stretching the image - help!]

![creditcarddata_sublanding](https://cloud.githubusercontent.com/assets/14129916/12039829/cd5a0fac-ae31-11e5-8190-c60c07f6cf57.png)

Is spacing correct between Hero and Links Blob?
Is spacing correct between the Links Blob paragraph and link?
Is spacing correct in the E-Mail Signup between field and disclaimer text?

For the E-Mail

[2015-12-29 18:44] Schlachtmeyer opened #1278 "Wagtail & other issues: Credit Discrimination Sublanding page"
![creditdiscrimination_sublanding](https://cloud.githubusercontent.com/assets/14129916/12039846/f34558fc-ae31-11e5-95ae-6b45dc75987a.png)

Featured Content is showing markup tags -- I have tried to fix this in Wagtail and I can't seem to

@sarahsimpson09 @tnferrell @schaferjh -- This page needs to be broken up differently (I think) or else made into a Browse page? Any thoughts on how to configure

[2015-12-29 18:46] Schlachtmeyer opened #1279 "Wagtail & other issues: Retirement Sublanding page"
![retirement_sublanding](https://cloud.githubusercontent.com/assets/14129916/12039888/55036b60-ae32-11e5-8f26-9c98e2b512d7.png)

Some of the same issues as #1277
- Spacing generally okay?
- Spacing in E-Mail Signup okay?
- Heading in E-Mail Signup needs attention from Content

[2015-12-29 18:59] Schlachtmeyer opened #1280 "Wagtail & other issues: Research Reports Sublanding page"
![researchreports_sublanding](https://cloud.githubusercontent.com/assets/14129916/12040079/c13b8d98-ae33-11e5-9b9c-240822034464.png)

- No sidebar is appearing, I think because the Related Content isn't working?
- Is there a way to add the latest or featured Reports to the content of this page, using the Post Preview molecule? (Will the Events landing page also need this?)

[2015-12-29 19:03] Schlachtmeyer opened #1281 "Wagtail & other issues: Education & Outreach Landing page"
![educationoutreach_landing](https://cloud.githubusercontent.com/assets/14129916/12040156/7e008d98-ae34-11e5-8a56-67fbcec2ca76.png)

- Spacing okay between Hero & 2/7 molecule?
- Font & spacing issues in sidebar
- What's happening with the images in the 50/50 molecule?
- Two columns needed in the gray well (discussed this ENH with the team, not sure if it has been spec'd)

[2015-12-29 19:04] Schlachtmeyer opened #1282 "Wagtail & other issues: Trouble with icons and fields inside Wagtail"
![linkblobs](https://cloud.githubusercontent.com/assets/14129916/12040209/f5b5112e-ae34-11e5-8562-1bace5846a4f.png)

I end up with a bunch of typos and missing letters because the icons are overprinting the fields inside Wagtail. What can I do to avoid this? Is it a browser issue or something?

[2015-12-30 14:02] kave commented on #1282
@Schlachtmeyer hmm maybe a browser issue, can you try using chrome

[2015-12-30 14:03] kave commented on #1281
@KimberlyMunoz

[2015-12-30 14:17] kave commented on #1280
@Schlachtmeyer So the only element you have on this page is the related posts element. Which is doing expected behavior.
Currently the only pages you can relate are `Event` pages using wagtail `tags` found in the `Configuration` tab

[2015-12-30 14:18] kave commented on #1280
@Schlachtmeyer you could use the FeaturedContent molecule to feature a page?

[2015-12-30 14:28] kave commented on #1279
@KimberlyMunoz @sebworks

[2015-12-30 14:29] kave commented on #1269
@Schlachtmeyer hi could you close this if its no longer an issue?

[2015-12-30 14:30] kave commented on #1268
@Schlachtmeyer could you close this if its no longer an issue?

[2015-12-30 14:36] Schlachtmeyer commented on #1268
I still see intermittent errors but for the most part previews are available. Thanks!

[2015-12-30 14:36] #1268 closed

[2015-12-30 14:36] Schlachtmeyer commented on #1269
I think this is resolved - thanks!

[2015-12-30 14:36] #1269 closed

[2015-12-30 14:46] kave commented on #1278
@Schlachtmeyer hmm i'll look into this mark up issue

[2015-12-30 14:46] kave commented on #1252
@tnferrell could you close this if its no longer an issue

[2015-12-30 14:47] kave commented on #1221
@tnferrell could you close this if its no longer an issue

[2015-12-30 14:47] kave commented on #1246
@sarahsimpson09 could you close this if its no longer an issue

[2015-12-30 16:24] KimberlyMunoz commented on #1281
According to @duelj, the spacing is off on top. I'll remove the "block" class and adjust the CSS for .content_main to get it to 30px. This might require some tweaking of the breadcrumbs.

The images in the 50-50 molecule should have a toggle for "is circle or is widescreen" without it they're displaying with the widescreen ratio. I'll look into this.

[2015-12-30 16:53] schaferjh commented on #1278
According to the most recent sitemap, this page is a browse page, underneath the "Managing your credit" sublanding page. Let's touch base when everyone is back next week to make sure we're in agreement on that.

[2015-12-30 17:30] KimberlyMunoz commented on #1277
Tagging @duelj to weigh in on the spacing questions. For the first one, my fix in #1283 should take care of it.

[2015-12-30 17:43] KimberlyMunoz commented on #1277
Actually, nevermind. The spacing underneath the hero is a new issue. Looking into it now.

[2015-12-30 18:19] KimberlyMunoz commented on #1279
Hey @Schlachtmeyer or @schaferjh, is there a breakout sidebar for this page? If there isn't it might make more sense to move the text introduction under the bar by deleting the text introduction in the "header" section and moving it to the top "content" section.

[2015-12-30 18:22] Schlachtmeyer commented on #1279
Oh I see what you're saying. I'll try it. Thanks.

[2015-12-30 18:26] schaferjh commented on #1277
@Schlachtmeyer does the page look stretched on your computer/in the review mode? Or is it just when you post the image in the comment?

[2015-12-30 18:27] Schlachtmeyer commented on #1277
They're just stretched when I attach the images, sorry about that.

[2015-12-30 18:37] schaferjh commented on #1277
No, it's fine -- if it's just an image attachment thing then I'm both not sure how to fix it (never run into it before) and not worried about it. :neutral_face:  A stretched image works fine for our purposes here, as long as it's rendering fine in Wagtail!

[2015-12-30 18:54] KimberlyMunoz commented on #1277
Looking into fixing the link blob and email signup spacing issue now.

[2015-12-30 19:02] Schlachtmeyer commented on #1279
@KimberlyMunoz is this what you meant? Seems like it has shifted the spacing issue but not exactly fixed it. Or were you suggesting something different?

![retirement_sublanding_altheader](https://cloud.githubusercontent.com/assets/14129916/12055733/dbf7ce24-aefd-11e5-9312-4f42a1a95c0b.png)

[2015-12-30 19:03] KimberlyMunoz commented on #1279
Yep. That top spacing issue should be fixed in #1283.

[2015-12-30 19:04] Schlachtmeyer commented on #1279
I see. We'll wait for the next push on Tuesday then?

[2015-12-30 19:07] KimberlyMunoz commented on #1279
Yep. And I have some fixes for the Email Signup.

The Slug should be `Stay Informed`
The text in the slug `Subscribe to get information...` should be in text
The phrase `Email Address` should be under label, that's important for accessibility and should be marked as required.

There's still a slight spacing issue that I'm looking into fixing.

[2015-12-30 19:16] Schlachtmeyer commented on #1279
Great - got it. I'll implement this in all my pages with e-mail signups.

@sarahsimpson09 @tnferrell - How important is it to carry back this text to the content drafts? As we make changes inside the CMS, do we need to keep the content drafts updated for stakeholders?

[2015-12-30 19:37] duelj commented on #1277
**Hero:**  looks good and should match spacing found [here](https://huetingj.github.io/design-manual/ui-toolkit/heroes.html)

**Space after hero:** 30px. This would be treated as if the bottom of the hero were a stroke dividing an introduction section from the rest of the page (even though there is no stroke). The sidebar background should come flush to the bottom of the hero background and just t

[2015-12-30 20:06] KimberlyMunoz commented on #1277
With the exception of content fixes, all the FEWD issues are in progress to being fixed and should be ready at the next push to Refresh.

[2015-12-30 20:17] Schlachtmeyer commented on #1279
@KimberlyMunoz - The spacing looks much better when I select the "Type" as "Email"

![email_rev](https://cloud.githubusercontent.com/assets/14129916/12056780/72d1a266-af08-11e5-92be-5fbd1efedd15.png)

[2015-12-30 21:43] KimberlyMunoz commented on #1281
Two column issue is being addressed in #1218, so let's continue following the progress in that issue so we don't track it in too many places.

Spacing between the hero and molecule has been addressed in #1283.

The sidebar is having weird issues because everything is rendering as a block regardless of what content enters it as. @kave, can you look into this?

The last issue depends on a few assump

[2015-12-30 22:39] KimberlyMunoz commented on #1281
Talked it over with Justin and #1288 should fix the last issue.

[2015-12-31 14:46] Schlachtmeyer commented on #1280
Thanks @kave - I'll circle back with content folks to figure this out. We have to display as much detail on the reports as we have on the current page, http://www.consumerfinance.gov/reports/ -- and those are essentially fully-loaded Post Preview molecules.

[2016-01-04 12:31] anselmbradford opened #1294 "Travis: Linter errors should exit with code 1, but are exiting with code 0"
Linter errors aren't breaking the Travis build. `gulp lint` should exit with code 1 when there are errors, but it exits with code 0.

[2016-01-04 18:08] michaelrivera03 commented on #1262
@kave - Still can't add content. I was able to get related content removed, the preview still links to a 500 error
http://refresh.demo.cfpb.gov/admin/pages/29/edit/ - Managing Your Credit
http://refresh.demo.cfpb.gov/admin/pages/28/edit/ - Your Money, Your Goals
http://refresh.demo.cfpb.gov/admin/pages/27/edit/ - Managing someone else's money

[2016-01-05 16:05] tnferrell commented on #1206
Hey guys, I'm still noticing something wonky on the 25/75 one of my pages - /consumer-help/managing-credit/

[2016-01-05 16:05] #1252 closed

[2016-01-05 16:05] #1221 closed

[2016-01-05 16:09] tnferrell opened #1304 "Text styling in full width text"
Doesn't look to spec. An example can be seen at /consumer-help/managing-credit/

[2016-01-05 17:21] Schlachtmeyer commented on #1281
This page looks much better now! But I think the spacing is still off in the sidebar.

![educationoutreach_landing_sidebar_0106](https://cloud.githubusercontent.com/assets/14129916/12122063/d522e856-b3a6-11e5-95fe-0b1598d0dca5.png)

[2016-01-05 17:24] Schlachtmeyer commented on #1279
Cannot see this page in the V1 Wagtail space right now...will keep looking.

[2016-01-05 17:26] Schlachtmeyer commented on #1277
This spacing looks much better now! I think the spacing in the e-mail is still strange though -- check spacing between disclaimer and button?

![creditcarddata_sublanding_email_0106](https://cloud.githubusercontent.com/assets/14129916/12122195/86c2cc2a-b3a7-11e5-851c-bb9b42171dcd.png)

[2016-01-05 17:27] jimmynotjim commented on #1206
It looks like Wagtail is doing something funky with the markup output. @kave or @kurtw, any ideas?

This is the rendered markup:

![screen shot 2016-01-05 at 12 24 15 pm](https://cloud.githubusercontent.com/assets/1280430/12122152/4f5c8f14-b3a7-11e5-8761-f3f2b0843549.png)

And this is [the source](https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/jinja2/v1/_includes/molecules/image-text-25

[2016-01-05 17:28] Schlachtmeyer commented on #1278
Update: The sidebar looks better now I think.

This will be moved to a browse page eventually, just putting this here to illustrate that the stray coding tags are cleaned up now.

![creditdiscrimination_featured_0106](https://cloud.githubusercontent.com/assets/14129916/12122234/c3cfdae0-b3a7-11e5-9888-e0bad3772e05.png)

[2016-01-05 17:30] kave commented on #1278
great thanks :+1:

[2016-01-05 17:32] kave commented on #1281
@KimberlyMunoz each side-bar element is surrounded by a block class div. Do we still want to do that?

[2016-01-05 17:40] kave commented on #1262
page had been corrupted. re-creating pages resolved issues

[2016-01-05 17:41] kave commented on #1304
@jimmynotjim @KimberlyMunoz

[2016-01-05 22:22] jimmynotjim commented on #1304
I think this is another wagtail output issue

![screen shot 2016-01-05 at 5 21 44 pm](https://cloud.githubusercontent.com/assets/1280430/12129321/d6413d26-b3d0-11e5-96ac-7d47358bd5fc.png)

Not sure what's causing it this time though, doesn't really make sense that it'd be closing empty `p` around the `ul`

[2016-01-05 22:28] anselmbradford commented on #1206
Looks like `value.body.source` is wrapped in a `<p>` tag. Can't put `<p>` inside of `<p>` so the browser kicks them to the outside and leaves an empty paragraph with a new one below.

[2016-01-05 22:30] kave commented on #1206
@jimmynotjim @anselmbradford yup thats exactly it. the fix would be:
[code]

[2016-01-05 22:32] jimmynotjim commented on #1206
There's no `short-desc` on this one, it should be the serif font, so we just need `{{ value.body.source }}`?

[2016-01-05 22:38] jimmynotjim opened #1307 "Full width button modifier"
There's a few uses of full-width buttons. We should consider adding a `btn_full-on-bp-xs` modifier and updating them where applicable.

[2016-01-05 22:40] KimberlyMunoz commented on #1206
Yep. That should be it. File a quick fix PR to flapjack?

[2016-01-05 22:41] KimberlyMunoz commented on #1307
There's one in the footer that's only visible on mobile. Add more to this thread if you see others.

[2016-01-05 22:41] KimberlyMunoz commented on #1282
Did using Chrome fix this issue, @Schlachtmeyer?

[2016-01-05 22:43] KimberlyMunoz commented on #1307
It's used in the form submit button

[2016-01-05 22:44] jimmynotjim commented on #1206
Crud, I commented on the wrong one. Too many nested `p` tags. This one does need the short-desc class name. I can update this if no one else already has.

[2016-01-05 22:46] KimberlyMunoz commented on #1281
Slug, hyperlink and paragraph shouldn't be in block class divs because that spacing is a too much for this usecase.

[2016-01-05 22:51] KimberlyMunoz commented on #1279
I found it under Consumer Help/Planning for Retirement

[2016-01-05 22:52] KimberlyMunoz commented on #1279
It looks good to me. Re-open if you see another issue.

[2016-01-05 22:52] #1279 closed

[2016-01-05 22:53] #1278 closed

[2016-01-05 23:00] KimberlyMunoz commented on #1277
Resaving the field seems to have fixed it. I'll keep an eye on issues like this in the future.

![image](https://cloud.githubusercontent.com/assets/1860176/12130107/2d8b1796-b3d6-11e5-815c-97156616388b.png)

[2016-01-05 23:00] #1277 closed

[2016-01-05 23:04] jimmynotjim commented on #1304
@kave I'm stumped on this one, this is the markup

[code]

@tnferrell Could it be that the empty paragraphs are in the editor field this time? I don't have access to the admin, but maybe you could screen shot what you're seeing and send it to me?

[2016-01-05 23:06] kave commented on #1304
@jimmynotjim hmm... i'll have to take a look at this when i get back into the office, don't have access to vpn right now

[2016-01-05 23:11] #1225 closed

[2016-01-05 23:11] KimberlyMunoz commented on #1211
Did you all fix this @anselmbradford and @kave?

[2016-01-05 23:13] kave commented on #1211
@KimberlyMunoz yup thanks for the reminder. it was fixed here https://github.com/cfpb/cfgov-refresh/pull/1253

[2016-01-05 23:13] #1211 closed

[2016-01-06 14:53] kave commented on #1304
@jimmynotjim @tnferrell is this maybe some confusion between wagtail styles & cfpb styles? because the markup looks accurate

Admin side:
<img width="964" alt="screen shot 2016-01-06 at 9 52 14 am" src="https://cloud.githubusercontent.com/assets/254877/12145253/36414c2c-b45b-11e5-9e24-acf95fdb5481.png">

Live:
<img width="975" alt="screen shot 2016-01-06 at 9 52 22 am" src="https://cloud.githubuse

[2016-01-06 18:53] jimmynotjim commented on #1304
There are style issues, but look at the markup, there's an empty `p` before the `ul`

[2016-01-06 21:50] Schlachtmeyer commented on #1282
Haven't tried it yet but I will!

[2016-01-07 18:25] jimmynotjim commented on #1304
These are fixed in code and will be updated after the next refresh push

[2016-01-07 18:25] jimmynotjim commented on #1206
These are fixed in code and will be updated after the next refresh push

[2016-01-07 20:41] michaelrivera03 opened #1318 "Rows built below first set of rows on table molecules not showing on preview pages"
![image](https://cloud.githubusercontent.com/assets/14353344/12182189/b17722c8-b554-11e5-87d5-cc97219ff0be.png)

![image](https://cloud.githubusercontent.com/assets/14353344/12182248/ff59d51c-b554-11e5-836c-fb9a1ae446ea.png)

[2016-01-07 22:16] tnferrell opened #1319 "sizing of 50/50 images"
Using a 16x9 image that AJ provided in the 50/50 on /education-outreach-resources/ and the re-sizing looks off.

[2016-01-07 22:45] tnferrell opened #1320 "breakout sidebar image not displaying"
Uploaded the same image we use for 25/75 to the breakout sidebar on this page: /policy-compliance/rulemaking/ - whitespace instead of image showing

[2016-01-11 17:23] kave commented on #1320
Looking into this

[2016-01-11 18:00] tnferrell opened #1327 "fcm image proportion doesn't look like mockup"
not sure if this is an issue because i didn't see a preview of the featured content module on a page with a right sidebar, but the image in the fcm looks more square than it should. could it be because we have a lot of text in it? i uploaded a 16:9 image and my screen resolution is 1366x768.

[2016-01-11 18:02] tnferrell opened #1328 "line break missing between stacked urls in sidefoot"
looks like there may be spacing/formatting issues too

example:  /consumer-help/financial-resources-servicemembers/

[2016-01-11 18:04] sebworks commented on #1327
@tnferrell, can you attach screenshots?

[2016-01-11 19:55] tnferrell commented on #1327
Sorry, here's the URL.. /consumer-help/financial-resources-servicemembers/

![fcm](https://cloud.githubusercontent.com/assets/13967788/12244798/fa6fff2c-b86a-11e5-9fa0-2746b9ef425e.png)

[2016-01-12 16:48] tnferrell opened #1331 "p tags showing up in text on 25/75"
example:  /policy-compliance/

[2016-01-12 20:16] jimmynotjim commented on #1331
@kave do we need a ` | safe` in here?

[2016-01-12 20:17] jimmynotjim commented on #1327
That is indeed because of the amount of text. The image will resize to the height of the FCM, so the content will always dictate the image dimensions

[2016-01-12 20:19] jimmynotjim commented on #1319
This is a front-end issue, opened in Jira under DFJR-676.

[2016-01-12 20:21] jimmynotjim commented on #1281
Issue opened in Jira as DFJR-678

[2016-01-12 21:39] kave commented on #1331
@jimmynotjim yup looks like thats the problem

[2016-01-12 21:56] schaferjh commented on #1327
Does the FCM have a max height per the design manual? If yes, we should probably figure out roughly what the means for a character count.

[2016-01-12 23:04] jimmynotjim commented on #1327
Hmm, the docs say max 360px, but I think I remember Jen and I discussing that there shouldn't really be a max height. @huetingj can you confirm?

[2016-01-13 01:33] tnferrell opened #1335 "links formatted differently in FCM"
in the featured content module, the content link and the optional additional links provided are formatted differently. we'd like them to be formatted the same. an example of this is here: /consumer-help/financial-resources-servicemembers/

[2016-01-13 01:43] #1206 closed

[2016-01-13 02:06] tnferrell opened #1336 "formatting in text introduction"
i'm not sure if this is a duplicative issue, i couldn't find it when i was searching the repo, but the text introduction formatting looks off. example can be seen here: /consumer-help/sending-money-abroad/

[2016-01-13 02:10] tnferrell commented on #1319
This may have been human error. I didn't see the 16:9 checkboxes in wagtail when I reported this. That fixed the issue.

[2016-01-13 02:10] #1319 closed

[2016-01-13 14:09] jimmynotjim commented on #1331
This will be fixed in the next release to refresh

[2016-01-13 15:31] jimmynotjim commented on #1336
@tnferrell looking at the inspector, it seems like either the cms is adding `p` tags or they've been added in the input field in the admin. Because of the classname requirement for the lead paragraph, we have to add the `p` in the template here. Could you take a look at the admin and make sure there aren't any there?

[2016-01-13 16:03] KimberlyMunoz commented on #1319
Closed the issue in JIRA before we forget.

[2016-01-13 16:29] huetingj commented on #1327
Hello! The intended height for this is 320px (at the largest screen size). There isn't actually a max height because of the way it moves across different screen sizes. I wrote the DM guidelines incorrectly to say 360px, and I'll amend this. Sorry for the confusion!

Looking at the example above, I agree that this is more copy than we envisioned the module to have and that we need to establish a ch

[2016-01-13 16:43] huetingj commented on #1327
Oh one other thing: Do you see "testimony" as being a reoccurring category? If so, I can add it to our list of tags on the DM page, which is currently this:

![screen shot 2016-01-13 at 11 35 52 am](https://cloud.githubusercontent.com/assets/10562530/12300719/c5c20af0-b9ea-11e5-9e87-7e0c4ef80d9b.png)

Also, has there been discussion about making the tag lowercase and not using the word "Featured?"

[2016-01-13 16:58] #1304 closed

[2016-01-13 17:00] tnferrell opened #1337 "fcm categories need to be updated"
The categories available in the CMS aren't the categories outlined in the spec. They should be in line with the design manual and should display in sentence case.

![c5c20af0-b9ea-11e5-9e87-7e0c4ef80d9b](https://cloud.githubusercontent.com/assets/13967788/12302994/b614b802-b9ed-11e5-9951-a82692ea6f5e.png)

[2016-01-13 17:24] tnferrell commented on #1336
Unfortunately, there isn't an HTML editor in wagtail, so I can't verify if I've accidentally added code. But, I copied the text from notepad, pasted it in, and the P is selected, which I'm assuming means it's in a paragraph tag. I can't unselect the P. Any time you paste text into the rich text box it's selected by default. Hope this helps.

[2016-01-13 17:26] tnferrell commented on #1327
Opened an issue about the casing before I saw this...

#1337

[2016-01-13 17:43] sebworks commented on #1328
@kurtw, should the sidefoot have the `Related-Links` molecule. It looks like that's why they are recreating.

[2016-01-13 17:45] tnferrell commented on #1327
@huetingj those character counts do help. i updated the copy and our wiki page for that module with those limits to help guide us in the future.

the categories in the fcm are from a select list in the cms so yes we would be using them repeatedly. but i'm not sure how the current category list was developed. i'd hold off on adding it to the DM until we're sure our list is right. i'll follow up onc

[2016-01-13 18:05] tnferrell commented on #1327
Updated issue #1337 to update our categories to be in line with design manual and spec. Closing issue  since all questions have been resolved.

[2016-01-13 18:05] #1327 closed

[2016-01-13 18:40] huetingj commented on #1327
:+1: Thanks @tnferrell!

[2016-01-13 20:28] kurtw commented on #1328
I think that makes the most sense. I'll send up a change briefly.

[2016-01-13 20:36] kurtw commented on #1335
Is this a duplicate of #1328

[2016-01-13 20:38] kurtw commented on #1320
Closing this issue since it's now in refresh.

[2016-01-13 20:38] #1320 closed

[2016-01-13 20:45] kurtw commented on #1318
@michaelrivera03 unfortunately the way that table is implemented is pretty confusing.

When you go to create a Row you should click the `Add Another` button. To add columns, you should use the "Streamfield menu" that has things like RichText Blob, Textarea Blob, etc.

Additionally, in order for each of the columns to show, they need a corresponding Header. In your screenshot, you only have one hea

[2016-01-13 20:45] #1318 closed

[2016-01-13 20:46] kurtw commented on #1180
Closing because this isn't a bug.

[2016-01-13 20:46] #1180 closed

[2016-01-13 21:10] kurtrwall opened #1340 "Remove Legacy ImageBasic streamfield block"
https://github.com/cfpb/cfgov-refresh/pull/1322#issuecomment-170578001

Needs to convert the existing data from the block into the existing image's `alt` field for the new custom Image model.

[2016-01-15 14:27] Schlachtmeyer opened #1345 "Wagtail: Arabic formatting"
We have Arabic content on two pages: /sending-money/ar (browse page) and /cfpb-your-language (sublanding page). It needs to be not just right-justified, but also reading right-to-left (for example, bullet points align on the right margin). Example page from current site is here: http://www.consumerfinance.gov/sending-money/ar/

[2016-01-15 14:35] Schlachtmeyer opened #1346 "Wagtail lacks the ability to add sub-bullet points"
In the sending-money pages, there are sub-bullets in the full-width text molecules. Right now the formatting is borrowed from the underlying Word doc but where that gets lost, I'm unable to format correctly (please see /sending-money/es/ for an example of where it's not possible to make sub-bullets).

We will probably need this option in all the areas where the bulleted list molecule exists.

[2016-01-15 15:47] Schlachtmeyer opened #1348 "Required body text in link blob"
Right now the half-width link blob requires content between the heading and list of links. That's not working for /college-credit-card-agreements-browse/ - do we need to create lead-in text or can this be changed to not required (in Wagtail and on wiki)?

[2016-01-15 18:46] KimberlyMunoz commented on #1348
Where is that page. I don't see it on the top level.

[2016-01-15 18:47] KimberlyMunoz commented on #1346
I don't see sending-money at the top level.

[2016-01-15 18:49] Schlachtmeyer commented on #1346
oh sorry -- it's under Consumer Help

[2016-01-15 19:00] KimberlyMunoz commented on #1345
This is a larger accessibility issue. We need to have the language set correctly either in the top or a block of content that has the language

`<html dir="rtl" lang="ar">` or at least `<div dir="rtl" lang="ar">` should be set on this page. I looked into the HTML5 element `dir="auto"` to have the browser know what needs to be set in what direction, but the IE support looks terrible.

[2016-01-15 19:02] KimberlyMunoz commented on #1345
We'll also need to set a language for our Spanish content and content in other languages.

[2016-01-15 19:56] Schlachtmeyer commented on #1345
Keep in mind also the use case in the /cfpb-your-language/ sublanding page that contains all 7 languages (not counting English & Spanish).

[2016-01-15 20:16] KimberlyMunoz commented on #1345
That one might need to be hard coded to be implemented correctly. The whole page reads in English right now.

[2016-01-15 20:35] KimberlyMunoz commented on #1345
Actually, are all the foreign language things in "full-width text" molecules?

[2016-01-15 20:42] KimberlyMunoz commented on #1345
Going to write this down here before I lose it over the weekend. If all the foreign language blocks are full-width text or even a limited number of molecules, we could add a dropdown to each one to choose the language and set the language for the block. Pros: Multiple languages could be handled on one page. Cons: We're creeping in options madness and we'd have to do this for every molecule we want

[2016-01-15 20:52] Schlachtmeyer commented on #1345
Most of the foreign-language content does appear in full-width content molecules...BUT foreign languages currently also used in:
Heading, intro, body (Text Introduction)
Well
Heading, image text, body (25/75)
Slug (sidefoot)
Hyperlink text

Currently ALL foreign language pages (on the English site, at least) have multiple languages, because along with each language we offer links over to the other

[2016-01-15 20:55] KimberlyMunoz commented on #1345
I can fix this and we'll hard code that bit, so no worries there. ;)

Other than the  /cfpb-your-language/ language page, are there any other pages with a mix of languages?

[2016-01-15 20:58] Schlachtmeyer commented on #1345
Take a look at the /sending-money/vi page or another one...they all follow the same format. In the sidefoot you'll see the hyperlinks -- some are to the languages pages and some are to publications. But if you can hard-code that somehow, that's the only other place where we currently need additional languages within a foreign-language page.

[2016-01-15 21:24] KimberlyMunoz commented on #1345
Hopped on the phone with @Schlachtmeyer clarified a few things and came up with an initial proposal to share at team working session.

It looks like all the content in the main content section is mostly always the same language with the exception of  `/cfpb-your-language/`. So the whole page (which contains the header/footer/sidebar/etc) will be in English, with the main content section being sele

[2016-01-15 21:47] #1235 closed

[2016-01-15 22:27] schaferjh commented on #1345
I think this sounds like a great proposal @KimberlyMunoz but I'm not sure I understand it fully -- tell me more about this "page settings option" -- is this basically a drop-down select near the main content on `/cfpb-your-language/`? And then for the individual `/sending-money-abroad/` pages, we would still have a page per language? or do you see a way to use a page setting options there as well?

[2016-01-15 22:33] KimberlyMunoz opened #1350 "a11y enhancements of the multiselect"
From https://github.com/cfpb/cfgov-refresh/pull/1249#issuecomment-171749751

[2016-01-15 22:37] KimberlyMunoz commented on #1345
On the configuration tab of each page, we ~should~ be able to add an option to select the language for the page.

![image](https://cloud.githubusercontent.com/assets/1860176/12367240/8d9eab04-bbae-11e5-8689-d94d8ece0d48.png)

[2016-01-19 17:24] Schlachtmeyer opened #1354 "Higher table title character count?"
There appears to be a 20-character limit on table titles, which I don't think is enough. Maybe 100?

Please see the Your Money, Your Goals page in Wagtail.

[2016-01-19 20:06] Schlachtmeyer opened #1355 "Table line length varies?"
On the Your Money, Your Goals page, there are 4 table headings. They seem to alternate between long and short line lengths. Is this intentional? Screen grab shows sections 2, 3, 4.

![image](https://cloud.githubusercontent.com/assets/14129916/12430502/f36b007e-bebd-11e5-9d93-5d449332ee43.png)

[2016-01-21 14:30] kurtw commented on #1328
@tnferrell The Related Links molecule is now in refresh. The links you've had problems with will have to be re-entered in that molecule to attained the desired result.

[2016-01-21 14:30] #1328 closed

[2016-01-21 15:25] Schlachtmeyer commented on #1345
Hey @KimberlyMunoz - All the languages pages are now broken out into their own Browse pages, so if you want to try out your language selection, you've got some examples to work with. Let me know if & when you want me to do anything!

[2016-01-21 20:59] KimberlyMunoz commented on #1345
Working with BEWDs to get the option turned on in the new config menu. Moved to JIRA issue DFJR-738.

[2016-01-22 22:05] sarahsimpson09 opened #1363 "H tag size for contact molecule in sidefoot"
H tag for the contact name is a different size than other sidefoot content, like related resources.

[2016-01-25 17:49] KimberlyMunoz commented on #1363
Can you include a screenshot?

[2016-01-25 20:19] ajbush opened #1366 "Spacing across different pages / elements"
There are several pages that seem to have display bugs with spacing. I think the best way to capture the issues I've seen thus far regarding spacing is to use this issue to document appearances of spacing issues and to keep track of where they were found. At this time I'm not sure if these are global issues or just isolated occurrences but the goal is to be as succinct as possible by using mockups

[2016-01-26 16:18] sarahsimpson09 commented on #1363
![enforcement sidefoot](https://cloud.githubusercontent.com/assets/9706023/12586505/93167c6a-c41e-11e5-8600-adf0b493bb7a.png)

[2016-01-26 18:51] tnferrell commented on #1354
To Laura's point, I'm kind of for removing character limits altogether for tables. Here's a table I'm trying to input into wagtail. http://www.consumerfinance.gov/guidance/petitions-to-modify-or-set-aside/. The first cell character limits are too low for text and for hyperlinks.

[2016-01-26 18:51] duelj opened #1370 "Social media removed above intro section"
there are multiple pages that have social media icons showing above the text introduction section that need to be removed. For pages that should have social media they should be positioned below the introduction section. Should match [item introduction](https://github.cfpb.gov/flapjack/Modules-V1/wiki/Item-Introduction) if social media is needed, rather than [text introduction](https://github.cfpb

[2016-01-26 20:32] duelj commented on #1366
#### Policy & Compliance page -
The space after the page content and the footer is too much, however the spacing on the rest of the page looks as expected. *There is no link to the page because it is still a draft*

<img width="1324" alt="screen shot 2016-01-26 at 3 30 50 pm" src="https://cloud.githubusercontent.com/assets/6873734/12594032/0ce614b0-c442-11e5-9de6-a8aea45d20ba.png">

[2016-01-26 22:17] duelj opened #1373 "Body copy Avenir by default"
There have been a few discussions around when we use Avenir vs. Georgia in body copy but the DM has not been resolved on this. Latest thinking is to use Avenir Next regular as default body copy across V1 and specify instances where Georgia will be used for longer passages of body text. This particularly seems to be an issue in the text introduction molecule.

[Protection against credit discriminat

[2016-01-27 14:38] KimberlyMunoz commented on #1373
@jimmynotjim is already on it! See #1360

[2016-01-27 16:26] KimberlyMunoz commented on #1370
The template code has this on top of every browse page. Our templates don't have that, so I can remove it and it'll fix this issue.

[2016-01-27 17:03] KimberlyMunoz commented on #1346
I just checked with @kave and there isn't a way to have sub-bullets in wagtail. Is there a way to change the content to not require subbullets?

cc @schaferjh so she's aware.

[2016-01-27 17:12] KimberlyMunoz commented on #1348
Found it and the issue.

![image](https://cloud.githubusercontent.com/assets/1860176/12621580/3053b256-c4ef-11e5-9668-c171c98496d0.png)

[2016-01-27 18:27] KimberlyMunoz commented on #1345
Related PRs: #1361 and #1372.

[2016-01-27 18:33] KimberlyMunoz commented on #1337
To verify:

The Featured Content module should **NOT** have these categories, but rather the ones above.

![image](https://cloud.githubusercontent.com/assets/1860176/12623953/8486c0c4-c4fa-11e5-9344-2766cd6f0794.png)

[2016-01-27 18:49] duelj commented on #1373
That is good news! Sorry I missed that. If #1360 will update everything we need, should I close this issue?

[2016-01-27 18:51] KimberlyMunoz commented on #1373
I put a "Review on next refresh push" tag on this issue. For the last couple weeks, we've been closing them when the reporter confirms the changes on refresh, but it's up to youl

[2016-01-27 18:54] schaferjh commented on #1346
Hmmm. For reference this is the content on the current site -- http://www.consumerfinance.gov/sending-money/, so you can see where the sub-bullets are coming into play. When we talk to the stakeholders about moving this page into the new template, we can feel out the likelihood of being able to modify the content slightly to get rid of the sub-bullets, though it seems possible that this is going t

[2016-01-27 18:56] duelj commented on #1336
Just wanted to note that this issue relates to issue #1366. Many of the other scenarios of where this type of thing is happening are documented there.

[2016-01-27 19:02] Schlachtmeyer commented on #1346
Totally agree. Even if we could write around it in future, on these particular pages we don't have the in-house (or in-team!) language ability to rewrite sub-bullets in all the languages.

[2016-01-27 19:29] duelj opened #1378 "Sending money (languages) - 25/75 molecuels changed to 50/50 in well"
On the sending money abroad pages for different languages the V1 versions are showing 25/75 image & text molecules for the "before you pay" and "after you pay" sections. In discussion we realized that this was because we needed to try and recreate the look of what was currently on cf.gov. The images are much taller than the aspect ratios that we use on V1 so the thought was to use larger images in

[2016-01-27 19:38] KimberlyMunoz commented on #1337
#1314 updates the issues here:
https://github.com/cfpb/cfgov-refresh/pull/1314/files#diff-942617fe5c58b4c677a6d7cb593ec94aR15

[2016-01-27 19:40] Schlachtmeyer commented on #1378
We can do whatever looks better. The issue I was thinking of in choosing 25/75 is that the two images are not the same height. So I don't think the 50-50 content will align nicely either. I'm happy to try it either way -- could we bring over the actual images so that we can decide?

[2016-01-27 19:41] duelj opened #1379 "Information for servicemembers - Featured Content Molecule - multi link issues"
The two links in the FCM on this page should visually look the same. The first link seems to be lighter weight and also does not get the full mobile link style on smaller screens. Both links should look the same at all screen sizes.

|Large screen|Small screen|
---|---
|<img width="832" alt="screen shot 2016-01-27 at 2 35 19 pm" src="https://cloud.githubusercontent.com/assets/6873734/12625909/e21a

[2016-01-27 19:47] KimberlyMunoz commented on #1378
There's going to be a new 50-50 layout molecule inside the well organism that we're thinking of using in this use case.

[2016-01-27 20:03] duelj opened #1381 "Remove extra form fields from slug sections on browse pages"
Pages with slug sections have extra form fields after the real content.

**Seems to be on all browse pages with slug elements.**

#### Pages affected
[Sending money abroad Spanish](http://content.refresh.demo.cfpb.gov/consumer-help/sending-money-abroad/es/) - all language pages
[Money tips and basics for servicemembers](http://content.refresh.demo.cfpb.gov/consumer-help/financial-resources-service

[2016-01-28 15:31] duelj opened #1383 "Slug sections should have well background on browse pages"
Pages that use atomic elements with slug headings such as any of the "Related X" molecules should have a well background so that they look like a pre-footer.

**Looks like this is happening across multiple browse pages.**

#### Examples
[Protecting against credit discrimination](http://content.refresh.demo.cfpb.gov/consumer-help/managing-credit/protecting-against-credit-discrimination/)
[Protectin

[2016-01-28 15:33] KimberlyMunoz commented on #1335
We're going to tackle this issue in #1379

[2016-01-28 15:33] #1335 closed

[2016-01-28 15:34] #1262 closed

[2016-01-28 15:36] KimberlyMunoz commented on #1381
Weeeeeeeeeeeeiiird... Looking into it.

[2016-01-28 20:07] KimberlyMunoz commented on #1383
This issue is affecting browse-basic and browse-filterable pages.

[2016-01-28 20:10] KimberlyMunoz commented on #256
This is still an issue in wagtail, but it could be fixed with a refactoring. It's probably low priority.

[2016-01-28 20:12] KimberlyMunoz commented on #1378
Blocked by #1218

[2016-01-28 20:13] #1236 closed

[2016-01-28 20:14] #760 closed

[2016-01-28 20:18] KimberlyMunoz commented on #1246
I don't see where this form field is required in GHE/flapjack/Modules-V1/wiki/Sub-landing-page-template

@schaferjh or @sarahsimpson09 can you weigh in?

[2016-01-28 20:23] KimberlyMunoz commented on #1135
We're at the stage where prototype pages are both prototypes and templates and it seems to be working pretty well. I'm going to close, but I think we could re-open and revisit in v2!

[2016-01-28 20:23] #1135 closed

[2016-01-28 20:34] KimberlyMunoz commented on #1366
For this issue, could you update the screenshots with what the intended spacing should be. Some are obvious, but there's a few on there that aren't.

[2016-01-28 20:40] KimberlyMunoz commented on #1355
Setting the tables to be width: 100% by default will probably fix this. I didn't because I was mostly porting cf-tables, but it probably makes sense here.

[2016-01-28 20:49] KimberlyMunoz commented on #1354
I'm trying to see the bug in wagtail itself, but I can't find the table in Your Money, Your Goals. I think the BEWDs can easily increase the character limit on table titles for now though!

[2016-01-28 20:49] KimberlyMunoz commented on #1348
BEWDs will have to make that field unrequired.

[2016-01-28 20:55] KimberlyMunoz commented on #1336
This field has to be a rich text field because we might have links or bullet points in the lead paragraph so it's an all or nothing thing for potentially stripping extra `p`s. I went in and I couldn't really remove them when once they're in. @jimmynotjim, why couldn't we wrap this in a `div` instead of a `p`?

[2016-01-28 20:59] #1282 closed

[2016-01-28 21:04] KimberlyMunoz commented on #1280
Related posts is fixed. The Post preview molecule will be tracked in #1244

[2016-01-28 21:04] #1280 closed

[2016-01-28 21:06] KimberlyMunoz commented on #1258
@leejenni and @schaferjh, can we have a working session to hammer this out between BEWDs and Content?

[2016-01-28 21:07] jimmynotjim commented on #1336
We've done that before, but I'm concerned how that affects spacing https://github.com/cfpb/capital-framework/blob/canary/src/cf-core/src/cf-base.less#L333-L344

[2016-01-29 14:40] KimberlyMunoz commented on #918
Looks like @anselmbradford's refactor of the filter does this.

[2016-01-29 14:40] #918 closed

[2016-01-29 14:42] #1052 closed

[2016-01-29 14:48] KimberlyMunoz commented on #1028
Related bug: #867

[2016-01-29 14:48] schaferjh commented on #1258
Yes, we can. Sounds like we need to do this for all page types, right? Perhaps as part of the next sprint?

[2016-01-29 14:49] KimberlyMunoz commented on #1258
Yep!

[2016-01-29 14:52] schaferjh commented on #1246
I think this comes from @sarahsimpson09 wanting to create the email sign up before that organism was done -- but now it is, so I don't think this is an issue anymore, right?

[2016-01-29 14:53] KimberlyMunoz commented on #1246
In that case, the email sign-up is in and this issue is ready to close. Reopen this if I'm completely wrong.

[2016-01-29 14:53] #1246 closed

[2016-01-29 15:39] KimberlyMunoz opened #1387 "Add header font-size mixins to cf-enhancements"
In #1369, [I used the .heading-2() mixins for the sole purpose of exposing the @font-size variable within](https://github.com/cfpb/cfgov-refresh/pull/1369#discussion_r51180539). If we create a number of font-size mixins for this reason, we should be to avoid situations like this while also avoiding the need to hard code those numbers.

[2016-01-29 16:08] duelj opened #1388 "Sidebar elements need spacing sub-landing pages"
Molecules in the sidebar on sub-landing pages are missing the 60px of space between them. There are also spacing issues of the links within these elements. Looks like all links are not given a hard break between them but run together like a paragraph. They should follow the updated spacing

<img width="436" alt="screen shot 2016-01-28 at 10 51 14 am" src="https://cloud.githubusercontent.com/assets

[2016-01-29 16:13] schaferjh commented on #1388
Looking at the sidebar options in Wagtail, it appears that instead of having options for molecules/organisms, content is presented with a bunch of atoms, which is impacting the spacing issues, among other things.

Let's have a BEWD/Content chat next week about replacing the atoms with molecules/organisms. I will look for time and likely connect this to the convo for #1258.

[2016-01-29 16:16] sebworks commented on #1388
I think they should be using the `Related-Links` molecule. I think the issue was raised in https://github.com/cfpb/cfgov-refresh/issues/1328 as well.

[2016-01-29 16:19] duelj commented on #1366
Since the spacing patterns should be pretty consistent across the site between different molecules and organisms can we just have a discussion soon and outline our spacing standards instead?

It seems like showing the updated spacing for each page would lend itself to the idea that the spaces will be coded bespoke for each page which is not what we want. I mostly want to understand if there is a m

[2016-01-29 16:22] schaferjh commented on #1354
There are no longer tables on Your Money, Your Goals because we made a content/ux decision to convert the information to browse pages instead of putting it all into tables on this sublanding page.

As for the character limits in tables, is this linked to #1355?

[2016-01-29 16:48] #1331 closed

[2016-01-29 17:10] KimberlyMunoz commented on #1354
No, that's a different front-end issue.

On Fri, Jan 29, 2016, 11:22 AM Jessica Schafer <notifications@github.com>
wrote:

[2016-01-29 18:31] sarahsimpson09 opened #1390 "download icon for pdfs missing from document detail template"

[2016-01-29 18:34] sarahsimpson09 opened #1391 "Doc detail template: Author field needs to be conditional"
Currently, even when field needs to be blank, the word "By" still shows up on the page preview
![doc detail author issue](https://cloud.githubusercontent.com/assets/9706023/12684442/f0a8cfa2-c68c-11e5-87c7-d89c3118997a.png)

[2016-01-29 18:43] KimberlyMunoz commented on #1366
I'll try to remember to bring this up on Monday, but I'm tagging @leejenni to add it to the agenda.

Spacing standards are fine/awesome. Since we're making changes at the template level, we definitely don't want bespoke spacing either.

[2016-01-29 19:12] schaferjh commented on #1366
We don't have scrum this Monday, but Jen and I are happy to arrange a meeting --- or we could discuss after scrum on Tuesday. Let me know which you prefer.

[2016-01-29 19:17] schaferjh commented on #1390
Just want to note that in fact we want the download icon to show up automatically on any link for any document (PDF, DOCX, etc). If it can't be automatic, then we need some way for content editors to add it -- but would be preferable if the cms could recognize that the linked object is not a hyperlink and add the icon automatically.

For reference, this is the [Design Manual entry on hyperlinks] (

[2016-01-29 19:27] KimberlyMunoz commented on #1390
Do we want to limit what molecules the download icon is shown in? We've included a little bit of code on the WordPress "subpages" to do this and we can move it to some of the atomic stylesheets.
https://github.com/cfpb/cfgov-refresh/blob/5e64cc36be5d1e50c0815c1dcea6d1013a9ff344/cfgov/unprocessed/css/pages/sub-pages.less#L16

[2016-01-29 21:22] sarahsimpson09 commented on #1246
Sorry--this was for one of the credit card agreement database pages when I thought we'd be moving them into a template instead of forklifitng, trying to anticipate what we'd need. I think I wasn't looking at the site map when I created this issue. Sorry! Thought I closed it a while ago!

[2016-02-01 16:09] schaferjh commented on #1390
Um, I think the only kinds of places where we wouldn't want the icon is in headers or navigation -- but that seems like the kind of thing we could control via content input. @duelj and @ajbush am I missing anything?

Also, I noticed that the download link isn't showing up on blog/news entries, which are being pulled in from WordPress -- _is that a different bug that I should log separately?_ Examp

[2016-02-01 17:05] duelj commented on #1390
@schaferjh - that sounds right to me. Although keeping the icon in **all** cases (including header and nav) might help us quickly sort if someone tries putting a download in on of those areas, and flag it earlier than if there were no icon. Sort of keeping a bug to spot another bug (improper use of content).

[2016-02-01 18:26] duelj commented on #1366
I collected some general spacing thoughts for spacing between molecules and organisms that are consistent across page types. I thought I would see if this helped and make sure we were all on the same page with these before we have more discussion

#### Standard spacing (no rule line)
![screen shot 2016-02-01 at 1 00 32 pm](https://cloud.githubusercontent.com/assets/6873734/12726174/2f636e42-c8e4-1

[2016-02-01 18:27] duelj opened #1396 "General atomic element spacing guidlines"
I collected some general spacing thoughts for spacing between molecules and organisms that are consistent across page types. I thought I would see if this helped and make sure we were all on the same page with these before we have more discussion

#### Standard spacing (no rule line)
![screen shot 2016-02-01 at 1 00 32 pm](https://cloud.githubusercontent.com/assets/6873734/12726174/2f636e42-c8e4-1

[2016-02-01 18:29] KimberlyMunoz commented on #1396
How much spacing should there be for the last molecule on a page? 60px?

[2016-02-01 18:34] duelj commented on #1396
Great call, yes 60px after the last molecule on the page. I have updated the original post and added this into the "standard spacing" section.

[2016-02-01 19:14] KimberlyMunoz commented on #1391
Part of this requires work from content. In the CMS, you'll have to click the trashcan so that there's no authors being added, right now a blank author is being added. The dash is a front-end problem and I'll still fix it.

![image](https://cloud.githubusercontent.com/assets/1860176/12728058/fee9d8be-c8ed-11e5-9ee5-167da90cfade.png)

[2016-02-01 19:23] Schlachtmeyer opened #1398 "Avoiding widows"
Is there a way to squeeze content or expand line length to avoid bad widows?

Couple examples on the Sending Money Abroad page (in English) -- in the paragraph content and in the breakout sidebar:
![image](https://cloud.githubusercontent.com/assets/14129916/12728300/25920fda-c8ef-11e5-8632-c24e400a03a6.png)

[2016-02-01 19:37] KimberlyMunoz commented on #1398
I did some research with @jimmynotjim on this one and unless we go down a hacky JavaScript solution that iterates on every single paragraph on the website*, there really isn't anything we can do for this one. In responsive design, there's going to be so many different widths and breakpoints that stray words will occur.

Tagging in @schaferjh, so she's aware and can weigh in on whether to close or

[2016-02-01 19:50] Schlachtmeyer commented on #1398
No worries - it was something that came up in our meeting with design and thought it was worth looking into.

[2016-02-01 20:22] KimberlyMunoz commented on #1390
Nope. Same issue.

What are the etc files... `.doc` is one, but do you have a full list?

[2016-02-01 20:30] schaferjh commented on #1398
Thanks for looking into it @KimberlyMunoz and @jimmynotjim. Let's avoid the huge performance hit and let the words fall where they may. Responsive rulz win.

[2016-02-01 20:30] #1398 closed

[2016-02-01 22:29] schaferjh commented on #1390
I don't have a full list, but I think this list would cover 95% (if not 99%) of instances:
* PDF
* DOCX
* DOC
* XLSX
* XLS
* CSV

@sarahsimpson09 @tnferrell anything you'd add?

[2016-02-01 22:30] sarahsimpson09 commented on #1391
Thanks! I'll go through and make those updates to the doc detail pages.

On Mon, Feb 1, 2016 at 2:15 PM, Kimberly Munoz <notifications@github.com>
wrote:

[2016-02-02 14:26] schaferjh commented on #1396
@duelj yep, this all looks correct to me -- thank you for putting it together!

[2016-02-02 16:31] jimmynotjim commented on #1396
This is how I've understood it so far but had trouble describing. That's for making it visual.

[2016-02-03 17:20] KimberlyMunoz commented on #1390
I got it working in a way that looks good with our mobile styles, works with our download lists, and doesn't do anything weird when there's already an icon. However, due to the new way we're doing underlines in CF, the icons have an underline that we won't be able to remove with CSS alone in full-width text molecules and the blog.

Thoughts on how to address this?

![image](https://cloud.githubuse

[2016-02-03 18:03] Scotchester commented on #1390
@KimberlyMunoz I did a lot of research back in the day, and I don't think it's possible with CSS only, unfortunately.

At one point, we had the notion to use Sheer to filter the content coming in from the CMS to add in the necessary markup to do this as designed when it detected a PDF link or external link. The same concept could probably be done with Django?

[2016-02-03 18:16] KimberlyMunoz commented on #1390
Is this something that we can do, @kurtw, @kave or @richaagarwal?

Using this method, we could add a `<span class="cf-icon cf-icon-download"></span>`, but we'd have to do this in only the blog section and full-text width modules to prevent an extra download icon with list downloads.

![image](https://cloud.githubusercontent.com/assets/1860176/12792110/4597f684-ca78-11e5-8f96-ef2424b40756.png)

[2016-02-03 19:00] kurtw commented on #1390
This is an interesting question. This is certainly possible to add a content type to select which would render the link like that, but within a RichTextField it could be rather hard. More research is needed, but I'll get an answer ASAP.

[2016-02-03 19:16] schaferjh commented on #1390
Is this something that will apply to adding the external link icon to non-gov third party links as well?

[2016-02-03 19:48] KimberlyMunoz commented on #1381
Fixed on refresh!

[2016-02-03 19:48] #1381 closed

[2016-02-03 19:53] KimberlyMunoz commented on #1373
Fixed on refresh. Since this is all over, do you mind confirming that there aren't any stray Georgia paragraphs @duelj?

[2016-02-03 19:54] KimberlyMunoz commented on #1370
fixed!

[2016-02-03 19:54] #1370 closed

[2016-02-03 20:42] KimberlyMunoz commented on #1355
I can't find the page with this issue. Please let me know the URL and I can work on it.

[2016-02-03 20:43] KimberlyMunoz commented on #1345
This should be ready for content to use! Check for language options in the configuration page.

[2016-02-03 20:47] KimberlyMunoz commented on #1337
Just checked and things are updated in wagtail!

[2016-02-03 20:47] #1337 closed

[2016-02-03 21:25] Schlachtmeyer commented on #1355
Well, this page now has a totally different layout, so I guess until we hit this use case again it will be hard to troubleshoot! Let's close for now and we can reopen if it shows up elsewhere.

[2016-02-03 21:29] #1383 closed

[2016-02-03 21:38] KimberlyMunoz commented on #1355
Sounds good to me.

[2016-02-03 21:38] #1355 closed

[2016-02-03 21:45] Schlachtmeyer commented on #1345
Cool!!

Question about Arabic. It looks good but I think it's treating the phone number strangely. On our current site the phone number reads left to right, just as it does in English: http://www.consumerfinance.gov/lang/#ar

On the new page once I click the "Arabic" drop-down, the alignment looks great. But somehow the phone number might not be working: الحماية المالية للمستهلكين (855) 411-2372 و

[2016-02-03 21:55] duelj commented on #1363
The "payments to harmed consumers" seems like the more appropriate heading size for the side-foot (I think this is an H3?). We are ok with other heading sizes being used but we do want them to be consistent across multiple elements.

[2016-02-03 22:03] KimberlyMunoz commented on #1363
Found the issue!

We created two organisms for the contact-info organism: `main-contact-info.html` and `sidebar-contact-info.html`.

The `sidebar-contact-info.html` include should have been included here in the sidebar, but instead this the markup for `main-contact-info.html` which should only be included in the pre-footer. I realize this might be tricky because both of these are included in the "

[2016-02-03 22:42] KimberlyMunoz commented on #1345
We have something hardcoded to make the phone number go the right direction there on our current page. I added some non-breaking spaces to fix the numbers for now.

![image](https://cloud.githubusercontent.com/assets/1860176/12799563/6db4ff7a-ca9d-11e5-9c94-b69152703a66.png)

[2016-02-03 23:12] tnferrell opened #1404 "browse filterable page 500 error"
I was able to create a browse filterable page and preview/share it, but when I added subpages, the browse filterable page began returning a 500 error. Not sure if it's a content entry issue or a back end issue. /policy-compliance/amicus/briefs/

[2016-02-04 16:06] Schlachtmeyer commented on #1345
Cool. What happens if something is not tagged in its language - especially something that doesn't have a different character set, like Spanish or Tagalog?

[2016-02-04 16:08] KimberlyMunoz commented on #1345
It just reads in the language that it's being tagged with.

[2016-02-04 17:42] KimberlyMunoz commented on #1391
Pushed up a fix to take care of a rogue dash that still appears!

[2016-02-04 18:11] schaferjh commented on #1354
ok cool, thanks for the carification @KimberlyMunoz.

@kave this is a higher priority issue now as content has been running into it in a couple of places. One example of a more recent page where they've run into the problem at the bottom of /policy-compliance/small-business-review-panels/, but you can also look at the content board on Jira, where they've flagged all the pages where they've run int

[2016-02-04 18:14] schaferjh commented on #1390
btw, in discussion with content we realized ZIP is also a file type that we should include as a linked file type that gets this icon.

[2016-02-04 23:34] KimberlyMunoz opened #1408 "Filterable List Spacing Issue"
The results for the filterable list has off spacing. Reported by @kurtw in chat.

## Steps to Replicate

1. Visit [content refresh]/policy-compliance/amicus/briefs/
2. Apply Supreme Court Filter

## Expected Behavior

There should be spacing between the notification and the list of results

## Screenshot

![image](https://cloud.githubusercontent.com/assets/1860176/12833280/98155b2c-cb6d-11e5-918e-

[2016-02-05 18:33] KimberlyMunoz opened #1412 "Every phone number in contact info appears to be a fax"
In the Contact Info molecule, all the molecules with phone numbers appear to be faxes even when they aren't.

## Steps to replicate

1. Create a sublanding page
2. Create a Contact Info Molecule in the sidebar
3. Select a contact with phone numbers, such as "Submit a complaint" or "Reasonable Accommodation Requests"

Everything will appear under fax. If you move the loop outside of the label, ever

[2016-02-05 23:17] KimberlyMunoz opened #1415 "The global eyebrow has a spacing issue on desktop"
Visit any page on desktop and you should see this on the global eyebrow. The text should be on one line and not exceed the bounds of the global eyebrow.

![image](https://cloud.githubusercontent.com/assets/1860176/12861879/8d85f7e4-cc34-11e5-8b50-214268b7e926.png)

[2016-02-08 16:45] #1415 closed

[2016-02-08 17:02] KimberlyMunoz opened #1419 "Moving Tables to inside Full-Width Text Organism"
While going over spacing issues with @ajbush and @duelj, they pointed out that tables inside a bunch of text should only have 30px of spacing instead of the full-organism spacing. I think the easiest way to do this and take into account the edge cases where a table would need the full organism spacing when it's the only thing on the page, would be to move the table molecule inside the full-width t

[2016-02-08 17:29] kave commented on #1354
@schaferjh created a fix for this to be reviewed on the next push to refresh this afternoon

https://github.com/cfpb/cfgov-refresh/pull/1418

[2016-02-10 13:54] kave commented on #1419
@KimberlyMunoz sure i'll create a PR and include table as an option in the full width text.

[2016-02-10 14:21] kave commented on #1363
hmm @KimberlyMunoz yea only 1 contact organism was created. i'll create the sidebar-contact backend model and include it in the side/foot. i'll leave the main contact organism intact so not to lose content so the editors can transition over

[2016-02-10 15:38] kave commented on #1404
@tnferrell is this still an issue? i was able to view it..

[2016-02-10 15:39] #1404 closed

[2016-02-10 15:42] tnferrell commented on #1336
Just wanted to add to this that we're seeing the font is fine now. But I think it's supposed to be a larger size? /policy-compliance/enforcement/warning-letters/

[2016-02-10 15:49] kave commented on #1412
@KimberlyMunoz so theres a boolean check box that renders if a number is a fax or not. Could you verify content just isn't saved incorrectly?

[2016-02-10 16:00] KimberlyMunoz commented on #1412
Is the information that feeds the contact-information molecule the same as the information that feeds the contact us page? Because it appears correctly in the contact us page screenshots above.

[2016-02-10 17:13] duelj opened #1434 "Post preview should have title link"
During working session team noticed a bug in the [post previews](https://github.cfpb.gov/flapjack/Modules-V1/wiki/Post-Preview) where the title text was not a link to the detail page. The link only was separate and posted after the description. The intent for these molecules was that the title would be the primary link and if needed there would be an additional link allowed after the description t

[2016-02-10 18:45] kave commented on #1412
@KimberlyMunoz nah its not, the contact-us page is using `macros/util/format/contact.html` but the molecule is using `/_includes/organisms/main-contact-info.html`

[2016-02-10 18:48] kave commented on #1434
Would the title link be the same url as the `preview_link` below?

[2016-02-10 18:50] kave commented on #1388
@schaferjh @duelj @sebworks was a resolution found for this?

[2016-02-10 19:07] kave commented on #1412
discussed, possible bug with import-data script. i'll be looking into it

[2016-02-10 19:49] duelj commented on #1388
@kave - Not that I am aware of. From the design end we know the space that should exist but I don't think it has been resolved from the FEWD end yet. There was some discussion between, @ajbush and @KimberlyMunoz around spacing for browse pages where sidebars become pre-footers. Sounds like this is related but, I don't thing there was resolution yet there either.

[2016-02-10 19:52] duelj commented on #1434
I think in the filed briefs example yes, but originally wanted the preview link to be able to be able to function as a separate link. I think the only use case for this was on the notice and comment page where the title link was an external link and the preview link would have linked to something else. [This comment](https://github.cfpb.gov/flapjack/Modules-V1/issues/16#issuecomment-56074) shows t

[2016-02-10 20:04] schaferjh commented on #1434
Yes, that sounds right to me. The main (required) link is the title, just as you see on [the blog on beta] (http://beta.consumerfinance.gov/blog/).

What is being called a `preview_link` is optional and the only use case we currently have for it is on the Closed Notices page (GHE/flapjack/policy-compliance/issues/9 to see the original wireframes).

[2016-02-10 22:01] KimberlyMunoz commented on #1388
Nope, the issue we've been discussing with prefooters a different one. From the front-end perspective, we have the specs in for all the sidebars, but we can't fix the spacing in the cases where content is using atoms instead of molecules/organisms and we talked with Jess about switching those over.
.
This issue is one between content/BEWDs about replacing the atoms with molecules/organisms. @schaf

[2016-02-10 22:06] schaferjh commented on #1388
Thank you for the nudge @KimberlyMunoz.

I talked about this with @kurtw, @sarahsimpson09, @tnferrell and @Schlachtmeyer last week. IIRC, we decided that content will move everything out of the atoms before the BEWDs delete the atoms. Content folks -- has that happened/is that happening? Or, do you guys have a different memory of that conversation?

[2016-02-10 22:20] #1396 closed

[2016-02-11 16:00] jimmynotjim commented on #1387
Did you mean we should add size variables?

[2016-02-11 16:23] #1391 closed

[2016-02-11 16:23] #1354 closed

[2016-02-11 16:28] tnferrell opened #1440 "Table row borders"
The table row borders don't extend in instances where we have an empty cell. This is the most recent example /policy-compliance/enforcement/petitions/. This page is probably going to disappear soon though and I can't think of the previous pages where we've seen this occur. It is occurring on other pages though, so still think it's worth resolving.

![tables](https://cloud.githubusercontent.com/ass

[2016-02-11 16:58] duelj commented on #1373
There are a few pages where I still found some random Georgia. I pretty much just went through all the pages on the content migration tracker spreadsheet.

[Suggest a case](http://content.refresh.demo.cfpb.gov/policy-compliance/amicus/suggest/)
[Sending money abroad Spanish](http://content.refresh.demo.cfpb.gov/consumer-help/sending-money-abroad/es/) *I didn't try all the other languages*
[Communi

[2016-02-11 17:26] KimberlyMunoz commented on #1387
yep!

[2016-02-11 17:51] duelj commented on #1373
Just checked again as requested with a shift+refresh and the example above were viewing correctly. Looking great!

[2016-02-11 17:52] KimberlyMunoz commented on #1373
![kermit_the_frog_yay_arm_flail_original](https://cloud.githubusercontent.com/assets/1860176/12984952/429395dc-d0be-11e5-9d23-8022cb61dff8.gif)

[2016-02-11 17:52] #1373 closed

[2016-02-11 18:30] ajbush opened #1442 "Expandable labels not showing correct font"
The expandable label is rendering as "san-serif" instead of Avenir Medium. Caught this on the /policy-compliance/amicus/suggest/ page.

<img width="810" alt="screen shot 2016-02-11 at 1 29 38 pm" src="https://cloud.githubusercontent.com/assets/6931351/12986092/8c245786-d0c3-11e5-81d1-c8361d587288.png">

[2016-02-11 20:34] jimmynotjim commented on #1336
Yeah, the main issue is still open, it just turned into Avenir when I fixed the base-font. I say we go w/ a div wrapper. @KimberlyMunoz if you haven't, I can do this today.

[2016-02-11 20:43] KimberlyMunoz commented on #1442
This is happening because `normalize.css` turns all buttons into `sans-serif`, so it should be easy to overwrite.

[2016-02-11 21:54] richaagarwal opened #1445 "Filter by category should require a page type"
Currently, you can select "Filter category", but not a "Page type", as shown:

<img width="997" alt="screen shot 2016-02-11 at 1 49 40 pm" src="https://cloud.githubusercontent.com/assets/354591/12992025/dd9a6e68-d0c6-11e5-9a08-97ae3a0e1cc4.png">

and successfully save the page, but it will error out when you try to view the page because there's no page type. We should add validation here.

[2016-02-11 22:02] richaagarwal opened #1446 "Streaming selection should require a Go Live Date"
Currently, you can select "Streaming?", but not a "Go Live Date", as shown:

<img width="1062" alt="screen shot 2016-02-11 at 1 59 13 pm" src="https://cloud.githubusercontent.com/assets/354591/12992218/f12ef862-d0c7-11e5-8511-dc1ec304d5eb.png">

and successfully save the page, but it will error out when you try to view the page because there's no Go Live Date. We should add validation here.

Addit

[2016-02-12 15:52] rosskarchner opened #1450 "GET forms should not include csrf_token"
csrf protection doesn't really do anything for GET queries, and makes the resulting URL pretty ugly (and the token will also be cached by Akamai, so is almost never actually valid when the user submits something)

This is from the blog filter:

[code]

[2016-02-12 16:49] schaferjh commented on #1388
Follow up -- content has moved all important data out of the atoms, and we are now ready for @kurtw or @kave to remove the atoms from the sidefoot. Once that has been done, this issue should be resolved.

[2016-02-12 18:32] tnferrell opened #1454 "Related links / generic content organsim should include paragraph text"
We need the ability to add paragraph text to the related links organism in wagtail to make it structured like a generic sidebar content organism, like the spec here:
https://github.cfpb.gov/flapjack/Modules-V1/wiki/Generic-Sidebar-Content

It's labeled as "related links" in wagtail in the sidefoot.

[2016-02-12 18:38] tnferrell opened #1455 "preview posts links are linking to refresh"
For some reason, the preview posts links on content.refresh are linking to refresh instead of content.refresh. View an example here: /policy-compliance/amicus/briefs/

[2016-02-12 18:41] tnferrell opened #1456 "can the filter on browse filterables actually filter by title?"
Can a person search using the title field in the filter organism to find documents? If not, we may want to consider not having it as an option. Tagging @schaferjh so she can keep up with the convo.

[2016-02-16 19:10] schaferjh commented on #1456
Just to clarify, this is a question that came up in review of one of the browse filterable pages that content recently created -- the filter had an option to include "title" as a field in the filter. I was surprised by this because I didn't think we had set up the filters to search the title field of the associated documents.

A. Do the filters currently support filtering based on title? (I think

[2016-02-16 19:12] kurtw commented on #1456
Yes, the filter currently supports title search.

[2016-02-16 22:29] #961 closed

[2016-02-16 22:29] KimberlyMunoz commented on #961
No more forms.

[2016-02-17 00:16] KimberlyMunoz commented on #1345
I think this is done, but flag this issue if I'm wrong and there's more work to be done.

[2016-02-17 00:16] #1345 closed

[2016-02-17 00:20] KimberlyMunoz commented on #1336
Hey @jimmynotjim, let me know if this issue is open?

[2016-02-17 14:48] Schlachtmeyer opened #1466 "Font size changes in Item Introduction / doc detail page"
For the Reports pages I'm using the doc detail template with the Item Introduction for each report. The font size of the paragraph text seems to depend on whether or not there's a hard return? It starts out as a large font size and then I can force it to a smaller font size by inserting a hard return - and then if I delete the hard return it stays at the smaller size. To me the smaller size looks

[2016-02-17 16:12] KimberlyMunoz commented on #1466
The spec calls for the larger font size, right? @ajbush and @duelj?

This might be the same issue as #1336.

[2016-02-17 16:57] KimberlyMunoz commented on #1440
Ugh, there isn't a way to do it with css alone. We'll have to create the empty `td` cells somehow to get the borders to show.

[2016-02-17 16:58] duelj commented on #1466
@KimberlyMunoz - yes the [spec](https://github.cfpb.gov/flapjack/Modules-V1/wiki/Text-Introduction) calls for the larger (H3) subheading to to the page title. It looks like it is basically the same as the #1336 issue. One of the other things build does not often make use of was the rule line at the bottom of the text/page introduction to define that section from the rest of the page content. I don

[2016-02-17 17:53] Schlachtmeyer commented on #1466
@duelj For each report I have the choice of a Text Intro or an Item Intro. The Text Intro has no date so I've been using the Item Intro. The Text Intro has the option of a line below, but the Item Intro doesn't. (And I can't get Wagtail to save a page with a Text Intro, so I can't show you!)

[2016-02-18 16:52] jimmynotjim commented on #1336
Discussed in scrum, lets go w/ the div wrapper because if a `return` gets pasted in or entered, it messes everything up.

[2016-02-18 17:41] tnferrell opened #1470 "post v1: related posts pulling in other types of content"
CEE has expressed strong interest in the related posts organism pulling in other types of content (i.e. reports, tools, products, etc). Just logging this as a requested enhancement post v1.

[2016-02-18 19:08] #1336 closed

[2016-02-18 19:36] kave commented on #1450
@rosskarchner which elements are you seeing this behavior?

[2016-02-18 20:14] KimberlyMunoz commented on #1466
We discussed in Team Working session and the decision was to put any content that needs to be smaller like that in the Full-Width molecule. We're going to make sure that returns don't break the h3 intended size for that introduction paragraph in #1471.

[2016-02-18 21:12] #1419 closed

[2016-02-18 21:16] KimberlyMunoz commented on #1379
Fixed!

[2016-02-18 21:16] #1379 closed

[2016-02-18 21:17] KimberlyMunoz commented on #1366
A lot of the spacing issues have been merged in. With the exception of anything on the browse-filterable page that is being addressed this sprint, any new spacing issues should get tagged with a new spacing issue!

[2016-02-18 21:17] #1366 closed

[2016-02-18 21:20] KimberlyMunoz commented on #1363
This issue has been resolved by creating a "sidebar contact" molecule with the fixed spacing. Emmanuel has left the "main contact" molecule available to make it easier to transition over.

[2016-02-18 21:29] #1363 closed

[2016-02-18 22:12] KimberlyMunoz commented on #1348
Fixed in refresh!

[2016-02-18 22:12] #1348 closed

[2016-02-18 22:40] schaferjh commented on #1470
Actually, I think it would be helpful to log this in Jira instead of here so I can work through the backlog in one location.

@tnferrell Would you create an improvement task over there and tag it with the Post V1 epic? thanks!

[2016-02-19 13:55] schaferjh commented on #1456
@kurtw that's awesome news!

To be clear, is it true that:
- The title field is a plain text entry field
- a user can type any word or combination of words into the "title" field, and when they click "Apply filter" the filter will only return Post preview items whose title includes that word or combination of words

And is the field set up to handle usage of quotation marks, commas as the user mig

[2016-02-19 14:01] schaferjh commented on #1440
Low priority because yes it's annoying but it's not impeding usage of the page.

[2016-02-19 14:05] schaferjh commented on #1455
High priority because this is related to the linking issues we need to get sorted out ASAP so we can effectively test our pages.

[2016-02-19 14:08] schaferjh commented on #1434
For consistency labelling this high, but @KimberlyMunoz is already all over it.

[2016-02-19 14:10] schaferjh commented on #1412
High priority because we are going to get a lot of pushback if we allow it to look like folks can only reach us via fax or email! :neutral_face:

[2016-02-19 14:19] schaferjh commented on #1390
@KimberlyMunoz for V1 I am totally fine with the link underline continuing under the icon. @kurtw did your research turn up anything? If no or if the fix is time-consuming, I would like us to move forward with showing the icon with the link underline in some places.

This is high priority because users need to know if a link is a document or a hyperlink. It's also high priority if the answer to th

[2016-02-19 14:23] kave commented on #1412
@kurtw @richaagarwal this has been pushed to refresh. If one of you wants to log into the server and re-run the contact import-data script with the override flag that would be great. don't forget to source python!

[2016-02-19 14:41] schaferjh commented on #1218
Low priority as we no longer need this for V1 migration.

[2016-02-19 14:42] schaferjh commented on #1378
Closing out this issue since we are no longer handling this content for the V1 migration.

[2016-02-19 14:42] #1378 closed

[2016-02-19 14:48] schaferjh commented on #1281
This task was taken care of in Jira and we are no longer handling this content in the V1 migration.

[2016-02-19 14:48] #1281 closed

[2016-02-19 14:51] schaferjh commented on #1244
Fairly positive this need for showing Post preview items on a sub-landing page has been addressed -- @kurtw or @kave can you confirm? If yes, let's close this issue.

[2016-02-19 15:10] kurtw commented on #1244
I can confirm that it's available for _sub-landing_ pages, however Data & Research is a Landing page. Do we need to add that to Landing pages now?

[2016-02-19 15:32] sarahsimpson09 commented on #1244
No landing pages, just sub-landing. Thanks everyone!

[2016-02-19 15:42] #1244 closed

[2016-02-19 16:40] kurtw commented on #1456
The user can search for the title of any page in the list with a case insensitive manner, but it doesn't support things like quotation marks. It's a character for character search, not very complex. If there's a quotation mark in the title, then it can find it as long as the user put it in the right order of the searched text.

For example, user searches `"term"` then the page with the title `The

[2016-02-19 19:25] schaferjh commented on #1456
Ok, this is very helpful. @tnferrell @sarahsimpson09 @Schlachtmeyer Let's discuss which filters should use the title field and which shouldn't. I'll put it on the agenda for one of our Team Working Sessions next week (week of 2/22/16).

[2016-02-19 19:53] kurtw commented on #1456
Closing since the question was answered. Thanks everyone!

[2016-02-19 19:53] #1456 closed

[2016-02-23 17:33] KimberlyMunoz commented on #1466
Fix has been pushed up to refresh!

[2016-02-23 17:33] #1466 closed

[2016-02-23 17:35] #1442 closed

[2016-02-23 18:35] KimberlyMunoz opened #1487 "Javascript Error on Expandables"
Expandables won't load

## Current behavior

- Expandables do not expand, hiding all the content inside them
- There's a JS error `Uncaught Error: o-secondary-navigation not found on or in passed DOM node.`

## Expected behavior

- Expandables should expand.

## Steps to replicate behavior

1. Visit [GHE]/policy-compliance/amicus/suggest/

or create a page with an expandable that is closed by defa

[2016-02-23 18:41] KimberlyMunoz opened #1488 "Expandables should work when JavaScript is broken"
We can improve the progressive enhancement on the expandables by changing things so they work when expandables are broken like in issue #1487. This might be difficult to solve without a flash of opening expandables, but we should revisit later.
## Current behavior
- When JS is broken, expandables hide all the content inside them
## Expected behavior
- Expandables should be resilient enough to show

[2016-02-23 19:14] Schlachtmeyer commented on #1412
I am unable to preview pages that have the "sidebar contact" molecule. Is this a known issue?

[2016-02-23 19:24] kave commented on #1412
@Schlachtmeyer ah now it is, i'll take care of it https://github.com/cfpb/cfgov-refresh/pull/1489

[2016-02-23 22:36] kave commented on #1412
@Schlachtmeyer could you try again?

[2016-02-24 13:26] schaferjh commented on #1470
Since Tanya's been out, I moved this into the Jira backlog and am closing this issue for now.

[2016-02-24 13:26] #1470 closed

[2016-02-24 14:25] Schlachtmeyer commented on #1412
@kave Yes! Working now. Thanks!

[2016-02-24 15:33] #1412 closed

[2016-03-02 15:15] kurtw commented on #1455
I'll handle the fix on this. [Here](https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/jinja2/v1/_includes/organisms/post-preview.html#L111) is where the bug is. It's passing `page` to get the URL instead of `post`. Trivial.

[2016-03-02 15:16] kurtw commented on #1454
The fix is on refresh.

[2016-03-02 15:16] #1454 closed

[2016-03-02 15:17] kurtw commented on #1408
It seems like this is done? @KimberlyMunoz could you confirm and close if so?
![screen shot 2016-03-02 at 10 17 02 am](https://cloud.githubusercontent.com/assets/1412978/13464612/f712d986-e05f-11e5-957d-d9fdb25f6eec.png)

[2016-03-02 15:23] kurtw commented on #1390
Apologies for the late response. Unfortunately, the icon feature within rich text fields would be time consuming. Is @KimberlyMunoz solution sufficient for all cases? Meaning, is there anything else BEWDs could take care of or need to be aware?

[2016-03-02 16:54] rosskarchner opened #1527 "/sub-pages/"
Now that we aren't constrained by Sheer's limitation, we should be able to eliminate the 'sub-pages/' URL space, which is kind of sloppy

## Current behavior

- browse to advisory groups
- click consumer advisory board
- observe that that the URL is /sub-pages/consumer-advisory-board/

## Expected behavior

- browse to advisory groups
- click consumer advisory board
- observe that that the URL is

[2016-03-02 17:32] KimberlyMunoz commented on #1390
I'll take this issue for this sprint. We'll add a task for a better solution in v2.

[2016-03-02 17:51] schaferjh commented on #1527
Hold on this for the moment -- We are going to try forklifting these pages into Wagtail this sprint, which will have the side effect of working out this URL issue.

[2016-03-04 06:59] #1408 closed

[2016-03-09 17:32] Schlachtmeyer opened #1556 "Extra spacing on sublanding page"
Not sure why this sublanding page is displaying so much space below the hero.

## Current behavior
![image](https://cloud.githubusercontent.com/assets/14129916/13644148/4ebadaac-e5f2-11e5-8656-254f8f6a3a3a.png)

## Expected behavior
Even adding a header above the half-width link blob doesn't fill in the spacing or make it even with the sidebar content. And the gap between the hero and the sidebar

[2016-03-09 21:02] KimberlyMunoz commented on #1556
The hero needs a `block_flush` added to it. That seems to be a FEWD issue, so I'll look into it.

Here's what it looks like when it's added.

![image](https://cloud.githubusercontent.com/assets/1860176/13650336/2bc0a220-e610-11e5-8051-f2055ff2529c.png)

[2016-03-09 21:03] Schlachtmeyer commented on #1556
Looks better! I may still try adding a header for the link blob group, but this helps.

[2016-03-11 14:26] Scotchester commented on #1390
Something else that could impact this in v4 that you might want to note in your future task: a [move away from minicons as an icon font to an SVG library](https://github.com/cfpb/hackathon/issues/41).

[2016-03-11 16:10] KimberlyMunoz commented on #1390
The implementation should still be similar. At the very least moving to SVGs will be a big move that affects everything at once and we'll know how to deal with it in this case.

[2016-03-15 12:59] #687 closed

[2016-03-15 14:55] #1390 closed

[2016-03-15 18:57] KimberlyMunoz commented on #1556
LGTM!

[2016-03-15 18:57] #1556 closed

[2016-03-15 18:58] KimberlyMunoz commented on #1387
@jimmynotjim, should I close now that it's in CF?

[2016-03-15 18:59] KimberlyMunoz commented on #963
No longer happening.

[2016-03-15 18:59] #963 closed

[2016-03-15 19:12] KimberlyMunoz commented on #637
Refactored out! https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/unprocessed/css/organisms/secondary-navigation.less

[2016-03-15 19:12] #637 closed

[2016-03-15 19:12] KimberlyMunoz commented on #691
Refactored out. https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/unprocessed/css/organisms/secondary-navigation.less

[2016-03-15 19:12] #691 closed

[2016-03-15 19:17] KimberlyMunoz commented on #501
This has been resolved with the refactoring.

[2016-03-15 19:17] #501 closed

[2016-03-15 19:19] KimberlyMunoz commented on #852
These forms are gone.

[2016-03-15 19:19] #852 closed

[2016-03-15 19:20] KimberlyMunoz commented on #597
Would you consider this done @anselmbradford

[2016-03-15 19:23] KimberlyMunoz commented on #635
It went away with the redesign. There's no longer any pages with a side navigation and a hero.

[2016-03-15 19:23] #635 closed

[2016-03-15 19:25] #712 closed

[2016-03-15 19:25] KimberlyMunoz commented on #707
Would you say that our atomic design method resolves this issue? @anselmbradford

[2016-03-15 19:31] KimberlyMunoz commented on #1258
Just a flag that this meeting didn't happen, but it's okay to move it during our operation & maintanence period after launch

[2016-03-15 21:39] anselmbradford commented on #707
Yeah, we'll have cleanup after April that may run into this, but we can re-find it.

[2016-03-15 21:39] #707 closed

[2016-03-15 21:43] anselmbradford commented on #597
I'm okay with closing it.

[2016-03-15 21:43] #597 closed

[2016-03-15 21:44] #408 closed

[2016-03-15 21:45] #962 closed

[2016-03-15 22:37] jimmynotjim commented on #1387
Yep, no use in having them set twice.

[2016-03-16 14:42] #1387 closed

[2016-03-18 16:34] KimberlyMunoz commented on #1487
@jimmynotjim  This got fixed right?

[2016-03-18 16:36] KimberlyMunoz commented on #1388
This was fixed a while ago. Any new spacing issues should be re-reported.

[2016-03-18 16:36] #1388 closed

[2016-03-18 16:36] jimmynotjim commented on #1487
Yep, sorry, didn't know there was a GH issue as well.

[2016-03-18 16:36] #1487 closed

[2016-03-18 16:36] KimberlyMunoz commented on #867
Fixed in the new section.

[2016-03-18 16:36] #867 closed

[2016-03-18 16:49] KimberlyMunoz opened #1620 "Label on Filters does not match Placeholder"
The label on the date picker on the filters does not match the guidance given by the placeholder

## Current behavior

- The placeholder advises people to enter a date as DD-MM-YYYY whereas the label says YYYY-MM. If JS isn't working, we advise people to enter the date as YYYY-MM and have that as the default. When JS is working both should match.

## Expected behavior

- The two pieces of guidance

[2016-03-18 17:07] kurtw commented on #1455
This is fixed

[2016-03-18 17:07] #1455 closed

[2016-03-18 17:12] kurtw commented on #1450
[This](https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/jinja2/v1/_includes/macros/filters.html#L191) does the checking for the csrf token now.

[2016-03-18 17:12] #1450 closed

[2016-03-18 17:49] kurtw commented on #1446
I'm seeing the date when I enter it in the admin. Steps to reproduce?

[2016-03-18 17:50] #1434 closed

[2016-03-18 18:04] richaagarwal commented on #1446
Sorry, I can see how that was confusing. It's not that you *can't* enter a Date, it's just that if you *don't*, it will crap out without a validation error. That's why it's low priority.

[2016-03-18 19:09] anselmbradford commented on #692
Updated to `z-index: 9` in https://github.com/cfpb/cfgov-refresh/pull/1495

[2016-03-18 19:09] #692 closed

[2016-03-18 19:13] anselmbradford commented on #1527
/sub-pages/ are gone as of https://github.com/cfpb/cfgov-refresh/pull/1594, right? Can this be closed?

[2016-03-18 19:20] anselmbradford commented on #896
/sub-pages/ route has been removed. Is this still an issue?

[2016-03-18 19:30] sebworks commented on #896
nope, this can be closed.

[2016-03-18 20:58] #896 closed

[2016-03-18 21:00] anselmbradford opened #1628 "iOS zooms input fields - e.g. search"
## Current behavior
- Clicking the search button on iOS makes the search fly in from the right, but it also zooms into the search input field by default.
## Expected behavior
- Clicking the search button makes the search input fly in from the right, but the whole page doesn't change zoom level.
## Steps to replicate behavior
1. Test on iOS simulator (or device, presumably the behavior is the same)

[2016-03-18 21:02] anselmbradford opened #1629 "Header: CFPB name overlaps search button on iOS"
Short description explaining the high-level reason for the new issue.

## Current behavior

- CFPB name in logo overlaps with search button on iOS.

## Expected behavior

- CFPB name in logo should not overlap with search button on iOS.

## Steps to replicate behavior

1. View homepage on iOS.

## Screenshots

__Current__

<img width="288" alt="screen shot 2016-03-18 at 5 01 49 pm" src="https://cl

[2016-03-18 21:24] KimberlyMunoz commented on #1527
Yep. Let's close it!

[2016-03-18 21:24] #1527 closed

[2016-03-18 21:59] KimberlyMunoz commented on #218
I did a little digging on this and it looks like it's by design. If the border-color changes, it'll only change the border above the visited link. I'm going to close since we'd have to go back to design to fix and I don't think it'll get tackled any time soon.

[2016-03-18 21:59] #218 closed

[2016-03-18 22:03] KimberlyMunoz commented on #981
Budget pages have moved to wagtail!

[2016-03-18 22:03] #981 closed

[2016-03-18 22:06] KimberlyMunoz commented on #812
Still an issue, but the table has changed looks.

![image](https://cloud.githubusercontent.com/assets/1860176/13893371/19b40510-ed34-11e5-8b84-0c03367279fe.png)

[2016-03-20 23:40] anselmbradford opened #1644 "Mega Menu: Long link names need padding again"
## Current behavior
- Long names in mega menu links overlap with the green arrow.
## Expected behavior
- Long names should wrap or be truncated.
## Steps to replicate behavior
1. Open iOS simulate and visit site on iPhone 5.
2. Click through menu and note that long link names overlap with the green side arrow.
## Screenshots

**Current**

![screen shot 2016-03-20 at 7 33 23 pm](https://cloud.githu

[2016-03-21 02:30] jimmynotjim commented on #1644
To clarify, you mean iPhone 5, not iOS5 right?

[2016-03-21 15:15] #431 closed

[2016-03-21 21:59] anselmbradford opened #1667 "Header: menu flyouts zoom off-screen on transition"
## Current behavior
- When navigating between menu items or the search, the view zooms offscreen and follows the menu transition into view.
## Expected behavior
- Offscreen content should not get focus till it's in view.
## Steps to replicate behavior
1. Open iOS simulator.
2. Open the megamenu
3. Click a second-level menu.
## Screenshots

**Current**

![ioszoom](https://cloud.githubusercontent.co

[2016-03-21 22:14] anselmbradford commented on #1644
Yup! Updated, thanks!

[2016-03-21 22:15] anselmbradford commented on #1628
Updating search input to 16px prevents the zooming, however, that makes the input misaligned with the button. @jimmynotjim suggested making the button 16px, which would make the input 16px across all screen sizes.

[2016-03-21 23:53] jimmynotjim commented on #1667
Can we delay the focus change until the animationEnd is triggered?

[2016-03-22 15:57] KimberlyMunoz opened #1669 "MegaMenu on Android 4.0: Mega Menu does not close"
## Current behavior

- When navigating on the mega menu on Android 4.0, the "back" button and ability to close the menu doesn't work, leaving users stuck.

View behavior here: https://saucelabs.com/beta/tests/e60667c032b94634be8a09ede39381a7/watch

This was found on Amazon Fire Kindle running Android 4.0. I'll update the post with other browsers affected.

## Expected behavior

- Back button shoul

[2016-03-22 16:10] KimberlyMunoz commented on #1669
[Amazon Fire Tablet/Android 4.0](https://saucelabs.com/beta/tests/e60667c032b94634be8a09ede39381a7/watch)
[HTC One X/Android 4.0](https://saucelabs.com/beta/tests/d8a20884d319465fbbbd01a2c2910328/watch)

[HTC One X/Android 4.1](https://saucelabs.com/beta/tests/0e3f8d72452348f39e7454d70ff2566a/watch)
Search is not working on this one either.
[Samsung Galaxy Nexus/Android 4.1](https://saucelabs.com/

[2016-03-22 16:22] KimberlyMunoz commented on #1669
Issue on Android 4.2 - Search does not work either
[Samsung Galaxy Nexus/Android 4.2](https://saucelabs.com/beta/tests/af2bc5cb67834c7197aa7198f8a31b51/watch)

Issue on Android 4.3 - Search does not work. Clicking Search and then clicking menu causes the menu to break.
[Samsung Galaxy Nexus/Android 4.3](https://saucelabs.com/beta/tests/cd32664f07c544e19caae8b03d5c1901/watch)

[2016-03-22 16:26] KimberlyMunoz commented on #1669
Works as intended in Android 4.4!
[Samsung Galaxy Nexus/Android 4.4](https://saucelabs.com/beta/tests/725e269c82e745bca8c817b0d06ab0a2/watch)

[2016-03-22 17:27] KimberlyMunoz opened #1672 "Most of the JS is broken on Blackberry"
The Mega menus, all expandables (Including the in this section) nav do not function.

## Current behavior

When you visit beta.consumerfinance.gov, most functions that require javascript do not work, but js styles are applying, it seems there's a JS error very early in the page.

## Expected behavior

Mega menu, expandables and other JS features should either work or fall back to no-js styles

##

[2016-03-22 18:09] schaferjh commented on #1672
oh Blackberry. :sob:

[2016-03-22 18:45] KimberlyMunoz opened #1673 ""In this section" expandable does not open on wagtail pages"
Expandables are not opening on several different browsers. I've seen it on Android 5.0 and Blackberry, but I'll add to the issue as I see it other places and see if sauce can give feedback on errors. Seems to be on wagtail pages.

## Current behavior

The "In this section" links do not expand or show the expanded state.

## Expected behavior

- The "In this section" should either expand or be expa

[2016-03-23 18:55] anselmbradford commented on #1667
I'd turned off setting the focus explicitly, so I think this just the default focus behavior. We may have to set the focus off of the menu in `expandBegin` and then re-set it on the menu in `expandEnd`.

[2016-03-23 19:14] anselmbradford commented on #1672
Have any JS been found that works? Beta banner is broken too. Here is the load order of the first scripts in the footer (modernizr, IE scripts, and GTM are loading in the header):

[code]

[2016-03-23 21:21] jimmynotjim commented on #1667
I'm starting to favor the idea of setting `overflow-x: hidden` on body for screens w/ anything that flies out. This is entirely too complex to handle in individual modules.

[2016-03-23 21:22] anselmbradford opened #1685 "Multi-select: long names wrap oddly in some cases"
## Current behavior
- When an item in the multi-select is perfectly the width of the available area the (x) gets indented alone on the next line.
## Expected behavior
- Don't place (x) at the end of the line, but instead place it to the right side of the button.
## Steps to replicate behavior
1. Check the multiselect on /blog/
## Screenshots

**Current**

![screen shot 2016-03-23 at 2 51 07 pm](ht

[2016-03-23 21:25] anselmbradford opened #1686 "Multi-select: wrapping names in selection list should be indented from checkboxes"
## Current behavior
- Long names in the checkbox list wrap under their associated checkboxes.
## Expected behavior
- Long names wrap, but don't go under the checkboxes.
## Steps to replicate behavior
1. Check the multi-select on /blog/ and scroll down till you find a long name.
## Screenshots

**Current**

![screen shot 2016-03-23 at 2 51 14 pm](https://cloud.githubusercontent.com/assets/704760/14

[2016-03-24 14:14] schaferjh commented on #1667
Side note: I'm thinking about priority level of things and am marking this one low, even though I consider it very high among the lower priority things. Is it annoying and not the way things should work? Yes. Does it prevent someone from actually interacting with the site? No.

That said, if there's a quick fix we might be able to do now and note the need for further exploration, I'd be happy to r

[2016-03-24 14:17] schaferjh commented on #1620
Low priority, but given that we have a could of filter issues coming in through QA, I may group this update with another task.

[2016-03-24 14:20] sebworks commented on #1620
I'm currently working on this in conjunction with changing the way the filters handle the dates.

[2016-03-24 14:23] schaferjh commented on #1669
@anselmbradford any thoughts on these issues?

[2016-03-24 14:27] schaferjh commented on #1673
@kurtw @kave Could whatever we did to address #1487 (DFJR-934) help here?

[2016-03-24 14:30] schaferjh commented on #1620
Ok. For the record, noting this is being addressed in DFJR-1054.

[2016-03-24 16:13] jimmynotjim opened #1690 "Inline WP post styles are breaking some pages"
Inline WP post styles are breaking some pages.

## Current behavior

- `aside` elements are being styled by inline styles in WP Posts

## Expected behavior

- WP shouldn't be setting any styles

## Steps to replicate behavior

1. Navigate to `/blog/take-a-tour-of-money-as-you-grow-our-new-resource-to-help-parents-and-caregivers-give-children-a-strong-financial-start/`

2. Open the `About Us` menu

[2016-03-24 17:08] sebworks commented on #1690
we can query the pages, using ES, to find out which pages have styles.

[2016-03-24 17:26] kurtw commented on #1673
This is being fixed with #1692

[2016-03-24 17:36] KimberlyMunoz commented on #1690
I thought I removed a lot of this when I started this gig. This is a brand new page. :weary:

[2016-03-24 17:40] jimmynotjim opened #1693 "Header items are misaligned to the rest of the page"
## Current behavior

- Header is wider than it should be, misaligning it to the rest of the page.

## Expected behavior

- Header left/right should align with the contents below

## Steps to replicate behavior

1. Navigate to any page, most noticeable on the homepage

## Screenshots

![screen shot 2016-03-24 at 12 40 34 pm](https://cloud.githubusercontent.com/assets/1280430/14025759/9f6c4950-f1bd-

[2016-03-24 17:41] jimmynotjim commented on #1690
I think converting the blog to Wagtail will be the highest priority after launch to avoid stuff like this from happening in the future. We have very little control what happens in WP.

[2016-03-24 19:04] kurtrwall opened #1696 "Only use Django for Leadership Calendar"
Leadership Calendar lives in Django. We're putting the data in Elasticsearch then serving the data to our templates....using Django.
## Current behavior
- Data comes from Django -- goes to Elasticsearch -- back into Django -- out to our templates
## Expected behavior
- Data stays in Django

[2016-03-25 00:38] schaferjh commented on #1690
Besides knocking the featured menu content out of whack and making the text in the inset render at a silly size, is this a more insidious issue in any way?

[2016-03-25 01:29] KimberlyMunoz commented on #1690
In this one page, I think the FMC is pretty bad, but what you see is what you get.

In general, with the way the classes are being targeted if someone targeted a `section` or worse `.block`, content editors could do some serious damage to the layout.

[2016-03-25 12:55] schaferjh commented on #1690
:weary: is right

[2016-03-25 14:55] schaferjh commented on #1690
So this blog post from WP also looks bonkers, but doesn't seem to have the same impact on the mega menu -- http://beta.consumerfinance.gov/blog/mortgage-moves-how-much-can-you-afford/

[2016-03-25 18:16] anselmbradford commented on #496
Looks like this can be closed. I just realized GA was removed awhile ago https://github.com/cfpb/cfgov-refresh/commit/7e8191ea3a9f87ebe8351f09921763f2891f03e7
@bethannenc Are you'll okay with it just being GTM for launch (that would be our preference, since it's Google best-practice). Otherwise, closing this because standalone GA is gone and the jquery CDN is in the head with a TODO comment.

[2016-03-25 18:16] #496 closed

[2016-03-25 18:43] bethannenc commented on #496
@anselmbradford Yep - we should only be using GTM at this point. No need to keep any old GA code.

[2016-03-28 19:35] anselmbradford commented on #1669
I have a hunch that at least part of this is lack of support for `aria-expanded` http://caniuse.com/#feat=wai-aria, which would account for the mega menu hamburger menu icon not changing, but I don't think it would disable the menu or the search in the way described. I'll keep digging.

[2016-03-30 11:47] kave commented on #1690
Can we use Javascript on blog pages to remove styles in the interim?

[2016-03-30 11:51] schaferjh commented on #1690
Interesting to note these posts look horrible on the live site as well http://www.consumerfinance.gov/blog/mortgage-moves-how-much-can-you-afford/

[2016-03-30 21:07] anselmbradford commented on #1693
Is this an issue with the header, or with the body content adding additional padding on the left/right?

![screen shot 2016-03-30 at 5 07 16 pm](https://cloud.githubusercontent.com/assets/704760/14157636/e230118c-f699-11e5-8491-9f4ea10e59bf.png)

[2016-03-30 21:10] anselmbradford opened #1760 "gulp test:unit:macro broken"
Might explain our flaky `./setup.sh test` step on Travis?

## Current behavior

- `gulp test:unit:macro` outputs:

[code]

## Expected behavior

- `gulp test:unit:macro` should pass.

## Steps to replicate behavior

1. Run `gulp test:unit:macro`

[2016-03-30 21:11] anselmbradford commented on #1673
Is this fixed?

[2016-03-30 23:15] schaferjh commented on #1673
Yes, appears to be fixed on Refresh.

[2016-03-30 23:38] #1673 closed

[2016-03-31 14:10] #1760 closed

[2016-03-31 18:43] kurtrwall opened #1772 "Filters should filter on slug"
See #1746

[2016-04-01 16:30] anselmbradford opened #1786 "/external-site/ stripping URL parameters"
## Current behavior

- If a link is like `http://refresh.demo.cfpb.gov/external-site/?ext_url=http://twitter.com/intent/tweet?url=http%3A//refresh.demo.cfpb.gov/about-us/the-bureau/leadership-calendar/&via=CFPB&text=%20--`, /external-site/ will strip off the `&via=CFPB` and `&text` bits.

## Expected behavior

- URL is preserved in its full state through /external-site/ URL.

## Steps to replicate

[2016-04-01 16:45] anselmbradford commented on #1786
cc @kave @kurtw @richaagarwal

[2016-04-01 16:53] anselmbradford opened #1787 "Sharing: Truncate long pre-made tweet to fit 140 characters"
Twitter share should truncate long page titles to keep tweet length to 140 characters

## Current behavior

- Currently possible to have a share via twitter pre-made tweet that is over 140 characters in length

## Expected behavior

- Truncate long titles to fit pre-made tweet within Twitter's character limit.

## Steps to replicate behavior

1. Go to /careers/, find a long job title, and click sh

[2016-04-01 17:01] richaagarwal commented on #1786
Thanks Ans! I have a fix up for a similar issue, but didn't think through a more generic solution since I didn't realize this was impacting other types of links.  I'll think of a solution that takes care of all params.

[2016-04-01 19:12] anselmbradford opened #1790 "Header: missing logo on IE8/no-js"
## Current behavior

- IE8 is hiding the logo, probably from the logo fallback technique in use here https://github.com/cfpb/cfgov-refresh/blob/083f3f61d2e86e9ef34aac19556c25bae6127321/cfgov/jinja2/v1/_includes/organisms/header.html#L53

## Expected behavior

- IE8 should show the logo.

## Steps to replicate behavior

1. Visit IE8 and note there is no logo

## Screenshots

__Current__

![screen s

[2016-04-01 22:07] KimberlyMunoz commented on #1787
I'm going to say that it's probably worse to truncate and lose the context than have it automatically truncated and easier to tweet in a single click, but it's probably a UX decision on the trade-off.

[2016-04-01 22:15] schaferjh commented on #1787
Huh, you know on beta it's only generating tweets with the link, nothing else.

![screen shot 2016-04-01 at 6 15 29 pm](https://cloud.githubusercontent.com/assets/10562545/14221571/c1c0eb5e-f835-11e5-8cde-cc0d306f157f.png)

[2016-04-04 14:27] kurtw commented on #1786
https://github.com/cfpb/cfgov-refresh/pull/1791 Should fix this issue.

[2016-04-04 14:34] jimmynotjim commented on #1693
The body content is supposed to have that space, it's the border of the grid. The header should either use it as well, or limit itself in width.

[2016-04-04 14:40] Scotchester commented on #1693
We have the `wrapper__match-content` modifier for this purpose.

[2016-04-04 15:02] anselmbradford commented on #1787
@schaferjh The nothing else is https://github.com/cfpb/cfgov-refresh/issues/1786.
Also, pretty sure the title not coming through is this issue https://github.com/cfpb/cfgov-refresh/pull/1785#discussion_r58230545 I think @kurtw has a fix.

[2016-04-04 15:06] schaferjh commented on #1787
ah, ok

[2016-04-04 15:07] anselmbradford commented on #1693
Hm, the banner has `wrapper__match-content` already and is the same width as the other header items. This is going to be a fun one to figure out.

[2016-04-04 15:18] KimberlyMunoz opened #1801 ""In This Section" expandable doesn't open on non-wagtail pages"
Short description explaining the high-level reason for the new issue. This is the opposite problem of #1673

## Current behavior

The "In this section" links do not expand or show the expanded state.

## Expected behavior

- The "In this section" should either expand or be expanded so people can navigate.

## Steps to replicate behavior

1. Visit http://flapjack.demo.cfpb.gov/about-us/the-bureau/

[2016-04-04 18:05] jimmynotjim commented on #1786
Can this be closed then?

[2016-04-04 18:06] jimmynotjim commented on #1693
`.grid_column( 1, 1 );` done :D

[2016-04-04 18:07] jimmynotjim commented on #1801
This is working locally after #1802 merged, can we close it?

[2016-04-04 18:37] KimberlyMunoz commented on #1801
Aren't we still doing the "review on next refresh push" thing? I'm fine closing it, but let's kill that tag or clarify when to use it next retro!

[2016-04-04 18:37] #1801 closed

[2016-04-04 19:30] kurtw commented on #1786
Actually, I found a bug I'm about to push up a fix for. Hold off for a bit.

[2016-04-04 21:05] kurtw commented on #1786
https://github.com/cfpb/cfgov-refresh/pull/1811

[2016-04-05 15:30] anselmbradford commented on #1787
On further thought, I agree with @KimberlyMunoz. For long URLs the title could get unrecognizably mangled. It may be worth exploring excluding the title completely if the URL is too long, but yeah that's a UX decision. Feel free to close this issue @schaferjh

[2016-04-05 23:14] schaferjh commented on #1787
I am going to close this with a note to my backlog list that it deserves further thought. Erring on the side of too much context for the moment feels safest. Thanks for bringing it up.

[2016-04-05 23:14] #1787 closed

[2016-04-06 08:32] sebworks commented on #1669
The MegaMenu should now be closing/showing. There is an issue where search is being not being displayed on Android. For some strange reason, commenting out ( or using Mordnzr to conditionally ommit) the line allows it to work on Android. https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/unprocessed/js/molecules/GlobalSearch.js#L174

[2016-04-06 17:25] anselmbradford opened #1838 "/external-site/ is receiving common.js, but is not a full page."
## Current behavior
- /external-site/ is receiving common.js, but is not like the other pages since it doesn't have a header and footer.
## Expected behavior
- /external-site/ should not receive common.js or should have a global header and footer like the rest of the site.
## Steps to replicate behavior
1. visit /external-site/ and check the JS console. Find an error.
## Screenshots

**Current**

[2016-04-06 19:49] kave opened #1842 "Wagtail Admin: Padded zeros on event zipcodes"
Event Pages zipcodes do not display padded zeros. Can be confusing to content.
## Current behavior
- Save `00140` as a zip but it displays as `140`
## Expected behavior
##
## Steps to replicate behavior
1. Create an Event page with a venue zipcode `00140`
## Fix
- Override wagtail template to account for padded zeros

[2016-04-07 19:06] #1790 closed

[2016-04-13 18:05] KimberlyMunoz commented on #248
This has been moved to our JIRA backlog.

[2016-04-13 18:05] #248 closed

[2016-04-13 18:08] KimberlyMunoz commented on #306
DFJR-1204 is the JIRA issue for this one. It should be tackled as part of how we handle responsive image handling.

[2016-04-13 18:08] #306 closed

[2016-04-13 18:11] KimberlyMunoz commented on #1028
This particular issue was fixed when we moved to wagtail.

[2016-04-13 18:11] #1028 closed

[2016-04-13 18:15] KimberlyMunoz commented on #873
Offices pages don't exist anymore! :tada:

[2016-04-13 18:15] #873 closed

[2016-04-13 18:16] KimberlyMunoz commented on #581
Share now seems to work differently.

[2016-04-13 18:16] #581 closed

[2016-04-13 18:18] KimberlyMunoz commented on #547
Closed with DFJR-33

[2016-04-13 18:18] #547 closed

[2016-04-14 11:38] #1672 closed

[2016-04-14 11:40] sebworks commented on #1669
Discovered that the issue can be resolved by forcing a page reflow; this isn't the most elegant solution but the one we will go with if a better solution isn't found quickly.

[2016-04-19 15:21] #591 closed

[2016-04-22 20:54] konklone opened #1993 "consumerfinance.gov should use HTTPS and HSTS"
The CFPB's newly redesigned [consumerfinance.gov](http://www.consumerfinance.gov) should default to HTTPS, so that its users are given a safe experience.
## Current behavior
- consumerfinance.gov can not be reached securely or privately by its users. Its users are subject to potential [non-consented tracking](http://www.forbes.com/sites/kashmirhill/2014/10/28/find-out-whether-this-privacy-killing-

[2016-04-22 21:11] Scotchester commented on #1993
Thanks for continuing to gently prod us, @konklone :) This is definitely on our list of things to do "soon".

[2016-04-23 02:00] anselmbradford commented on #1667
This may be fixed

[2016-04-23 02:01] anselmbradford commented on #1629
Fixed

[2016-04-23 02:01] #1629 closed

[2016-04-23 02:03] anselmbradford commented on #1669
Fixed in https://github.com/cfpb/cfgov-refresh/pull/1964

[2016-04-23 02:03] #1669 closed

[2016-04-24 18:17] rosskarchner commented on #1993
it will be done, even if I this is the hill I die on.

[2016-04-28 14:26] sebworks commented on #548
I'm not currently seeing the bug on production. Can you verify @anselmbradford ?

[2016-04-29 15:15] anselmbradford commented on #548
Yeah I don't see it on http://www.consumerfinance.gov/tax-preparer-resources/ or http://www.consumerfinance.gov/about-us/the-bureau/.

I see it on
http://www.consumerfinance.gov/know-before-you-owe/ but is that the same player code?

[2016-04-29 15:22] sebworks commented on #548
http://www.consumerfinance.gov/know-before-you-owe/ but is that the same player code?

No, that is just an embed.

[2016-04-29 15:28] Scotchester commented on #548
I'll look into this.

[2016-04-29 15:39] Scotchester commented on #548
Is KBYO the only place where it's happening?

[2016-05-04 15:43] anselmbradford commented on #548
@Scotchester That's the only place I've seen it, but that doesn't mean it isn't elsewhere.

[2016-05-04 15:45] Scotchester commented on #548
Well, yeah :) Just wondering if there were definitely examples of it elsewhere. The PR in the KBYO repo fixes it for KBYO, but without knowing if it's happening elsewhere, I can't fix it anywhere else. I guess we'll wait and see if other places get reported :)

[2016-05-10 17:59] rosskarchner opened #2070 "Future of this code"
I've been in and heard some conversations about what happens with the code currently in cfgov-refresh, and where new code targeting cf.gov should go. I thought it was worth capturing my thoughts, and giving the discussion a URL.

First: I don't mean to imply that this code _must_ be broken up. Maybe the thing to do is just give it a more permanent name, and continue improving the code structure wi

[2016-05-11 18:39] jimmynotjim commented on #2070
From a front-end perspective, atomic elements will have a life outside the CMS, it's just unclear when exactly that'll happen.

[2016-05-12 16:49] cfarm opened #2079 "Homepage: Automate percentage of timely responses to match the Consumer Complaint Database landing"
## Current behavior

Currently, the [homepage of consumerfinance.gov](http://www.consumerfinance.gov/) uses a static number for the "% of consumers
get timely replies when we send their complaints to companies" copy:

![screen shot 2016-05-12 at 12 44 59 pm](https://cloud.githubusercontent.com/assets/702526/15222803/5dd33726-183f-11e6-9ef7-538a7d69497b.png)

This same statistic appears on the [Con

[2016-05-14 13:55] rosskarchner commented on #1993
I wouldn't be foolish enough to offer an estimate, *but* I'm comfortable saying that the wheels are turning on this, faster than they have at any point in the past year.

[2016-05-17 14:31] kurtw commented on #2070
@rosskarchner I like this setup. @jimmynotjim I tend to agree, but I think it would be a mistake to do it too soon. A couple of things:

1. Front-end and back-end aren't entirely separate.
2. Templates should probably live in cfgov-cms and if there needs to be a markup change in the separated atomic elements codebase then that requires another PR for cfgov-cms.

But...

Separating out the codebase

[2016-05-19 16:05] anselmbradford commented on #596
I think this is mostly, if not all, taken care of. `comments.html` is gone anyway.

[2016-05-19 16:05] #596 closed

[2016-05-20 17:31] anselmbradford commented on #823
Are the last two issues in here still issues?

[2016-05-20 17:38] anselmbradford commented on #834
Closing this as `events/_single.html` and `events/_event.html` are gone. Tagging the bewds if they see redundant generation of an event RSVP link on the backend that could be inconsistent. @kurtw @kave @richaagarwal

[2016-05-20 17:38] #834 closed

[2016-05-20 17:50] anselmbradford commented on #930
I can't find any `js-` classes anymore and the last `qa-` class will be removed in https://github.com/cfpb/cfgov-refresh/pull/2119 ... closing this.

Woot! We have this now in https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/unprocessed/js/modules/util/data-hook.js

[2016-05-20 17:50] #930 closed

[2016-05-20 17:54] anselmbradford commented on #935
This has moved to https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/unprocessed/css/enhancements/typography.less#L265

@jimmynotjim do you know where a good example of a `transform` is for reference on closing this issue?

[2016-05-20 18:26] sebworks commented on #1620
This was fixed when the referenced pages were converted to Wagtail.

[2016-05-20 18:26] #1620 closed

[2016-05-20 18:27] anselmbradford commented on #1012
This was fixed in https://github.com/cfpb/cfgov-refresh/commit/c5cd6be5fb28309e317beb9174070070373eceaa

[2016-05-20 18:27] #1012 closed

[2016-05-20 18:30] anselmbradford commented on #1098
Hey bewds, just looking through old issues. Seems like this would be a quick one? @richaagarwal @kave @kurtw

[2016-05-20 19:31] #936 closed

[2016-05-20 22:01] #830 closed

[2016-05-20 22:08] anselmbradford commented on #571
Only remains in BreakpointHandler I think https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/unprocessed/js/modules/BreakpointHandler.js#L72

[2016-05-23 14:59] kurtw commented on #1098
Sorry for neglecting this one. Yes, you can totally do that.

[2016-05-23 15:21] sebworks commented on #1786
@anselmbradford , is this still an issue?

[2016-05-23 17:08] kurtw commented on #1786
Closing this now that the fix has been in.

[2016-05-23 17:08] #1786 closed

[2016-05-23 17:13] sebworks commented on #1786
thanks @kurt

[2016-05-23 18:06] KimberlyMunoz commented on #823
The only thing that seems like an issue is the border on tables thing.

[2016-05-23 19:32] Scotchester commented on #548
Fixed the HTTPS error in KBYO, but there are other YouTube related issues. See DFJR-1392.

[2016-05-25 15:07] cfarm commented on #2079
@schaferjh Any updates on when this might happen?

[2016-05-25 18:35] schaferjh commented on #2079
We’ve run into some delays in getting stakeholder agreement on our next batch of home page updates, but I am working diligently on this and will let you know as soon as we’re approved to move forward.

[2016-05-25 19:51] rosskarchner commented on #2079
I just wanted to capture some thoughts on the approach. We could...

1. import [get_narratives_json](https://github.cfpb.gov/CCDB4/CCDB-content/blob/master/complaintdatabase/views.py#L45) and insert the percentage into the [homepage context](https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/v1/models/home_page.py) (and edit the template to use it) this is the simplest, and creates the leas

[2016-05-25 19:53] rosskarchner commented on #2070
I guess, by "life outside of the CMS", I was musing on whether they naturally live next to cfgpv-cms or cfgov-common

[2016-05-26 17:21] kurtw commented on #2079
I think number 2 is the best option as well.

👍

[2016-05-26 17:54] richaagarwal commented on #2079
Hmm, but the data lives in a public API (the json file) and it's pretty standard for multiple apps to be making similar calls to the same API - I don't see that as duplication. I think we should just have our own code that grabs the json and fetches `percent_timely`. So I guess none of the above options 😈

[2016-05-26 20:10] rosskarchner commented on #2079
@richaagarwal fair point

[2016-05-27 14:41] schaferjh commented on #548
Since we didn't pick up any new jira issues for our final refresh team wrap up sprint, I'm not sure anyone has taken a look at DFJR-1392. @sebworks before you go on PTO would you take a look at that issue and let me know the urgency?

[2016-05-27 14:55] schaferjh commented on #823
I actually don't see the table border issue any longer --

![screen shot 2016-05-27 at 10 52 14 am](https://cloud.githubusercontent.com/assets/10562545/15611680/86f9ef94-23f9-11e6-90e5-75d08fce330c.png)

[2016-05-27 15:11] sebworks commented on #548
@schaferjh, that issue is unrelated to this one. I'm going to close this issue as I don't see the original issue happening anymore.

[2016-05-27 15:11] #548 closed

[2016-05-31 21:26] KimberlyMunoz commented on #823
Oh, then it's all fixed. Thanks for checking Jess!

[2016-05-31 21:26] #823 closed

[2016-06-06 16:37] anselmbradford opened #2168 "On-demand header: make mega menu's search and submit a complaint components optional"
Heads up that the on-demand header will need to be able to generate a (responsive) variant that does not include the search and submit a complaint links (background https://[GHE]/consumer-response/027-Form-3.0/issues/1#issuecomment-78078). Implementation timeframe will be between now and August.

[2016-06-06 16:43] Scotchester commented on #2168
Note that her comment also says "without nav"

[2016-06-06 16:44] anselmbradford commented on #2168
Erp, right.. also no nav

[2016-06-06 20:39] schaferjh commented on #2168
Do they need any part of the header (like the eyebrow?) or is this just a white shape containing the logo and a green stroke?

[2016-06-06 21:37] anselmbradford commented on #2168
Haha, yes to that description! :) However, the eyebrow will be included, at least as far as the tagline.

[2016-06-06 21:52] schaferjh commented on #2168
So a variation on the eyebrow?

I guess I'm wondering if this is a variant of the header, or it's own thing?

[2016-06-06 23:14] richaagarwal commented on #1258
Just going through the issues - is this something we still need to discuss?  Or can we provide more context here for other people to pick up?

[2016-06-06 23:17] richaagarwal commented on #832
I think this can be closed, ya? @jimmynotjim @anselmbradford

[2016-06-06 23:26] richaagarwal commented on #1340
Aren't we still using this?

[2016-06-07 11:51] kurtw commented on #1340
Yeah but we shouldn't be. The image model that we use has the `alt` attribute that ImageBasic was adding in.

[2016-06-07 17:09] rosskarchner opened #2172 "Proposal: Initial Release Cadence"
At the end of a sprint, we:
- Create a new _branch_ from the current 'master' (what we now call flapjack)
- Create a release from that branch, and deploy it to beta (or, a new 'staging' server created for this purpose)
- let the release "burn in" on beta/staging for a few days (remainder of that week?). If any fixes are neccessary before going to production, they are commited to the release branch

[2016-06-07 17:38] kave commented on #2172
yea i like this approach. the only issue i can foresee is that `beta` for the large part goes barely touched these days by content & general users unless there's user testing going on.
Maybe instead of pushing to `beta`, maybe we push to `content` and let it burn instead. Since its being actively used and bugs due to new code has a higher likely-hood to be found if they even exist.

[2016-06-07 17:43] rosskarchner commented on #2172
My fear about using content for this, is that in the past we've had problems when the schemas on content and production don't match--  (say, jobs or AskCFPB are being synced, but the content table structure doesn't match production. Things blow up)

This is why the server is currently called 'content', because using it both for editorial work and code staging was creating problems.

[2016-06-08 11:54] kurtw commented on #2172
In the meantime, I don't see why we couldn't just keep build and beta for these in-dev code features.

[2016-06-08 13:15] rosskarchner commented on #2172
@kave's main point is worth thinking about though: content is the one way to get pending changes onto a site people actually use on a daily basis.

[2016-06-08 14:55] anselmbradford commented on #2168
Not sure yet whether the language links will be included or not. I'll update when I know.

Hmm... I suppose it could go both ways, but since it's components of the header that are hidden as opposed to moving things around, I'd lean toward a variant.

[2016-06-08 14:59] Scotchester commented on #2168
This variant (just eyebrow with no language links and logo) could conceivably be used for something like You Have the Right campaign-style pages, too.

[2016-06-08 15:36] willbarton commented on #2172
Perspective of someone who hasn't had to deal with any of this yet:

@rosskarchner can you say more about the schema problem? It seems like code and schema should be in sync with each other, at the very least, and if it isn't, we should know (i.e., blow things up)? This sounds like a problem we should solve.

Otherwise, it seems like the single best way to get feedback is put the code where the pe

[2016-06-08 15:43] KimberlyMunoz opened #2175 "Look into compressing hero and other images"
Reported by @ascott1

(326.7 KB, compressed = 50.0 KB - savings of 276.7 KB) - http://www.consumerfinance.gov/static/img/home-hero_lg.jpg
(132.5 KB, compressed = 22.7 KB - savings of 109.8 KB) - http://www.consumerfinance.gov/static/img/home-hero_sm.jpg

[2016-06-08 16:33] rosskarchner commented on #2172
@willbarton currently, some data is migrated from content to www via an SQL dump and load. AskCFPB and careers are probably the biggest examples.

Recently, the team working on AskCFPB made a lot of changes, including schema changes, and it was previewed on content before going to production. This left us in a state where, if someone had clicked the button to migrate content, 💣 💥 -- we would have

[2016-06-08 18:57] willbarton commented on #2172
@rosskarchner Ah, I understand. So the expectation underlying the use of content is that it is in sync with production?

[2016-06-08 22:48] jimmynotjim commented on #832
Notifications were changed completely, there's an empty unit test for the new ones at https://github.com/cfpb/cfgov-refresh/blob/flapjack/test/unit_tests/molecules/Notification-spec.js

[2016-06-09 12:50] rosskarchner commented on #2172
right, at the very least in terms of database schemas

[2016-06-09 16:34] kurtw commented on #2172
@rosskarchner since the migration script runs when the content deployment runs and content and production share a database then anything that utilizes that new field will throw errors.

Even worse, if we make major schema changes then potentially this could break huge portions of the site.  Akamai always gives us this buffer, but we need to seriously rethink how we're deploying to both of these en

[2016-06-09 17:27] rosskarchner commented on #2172
Mostly good, except that beta-mirroring content, means things we don't mean to publish yet get published...

What if every deploy to beta included:
- mirroring the prod database
- exercising all the migrations between the prod and beta codebase

That way, we can always be confident that our migrations are running.

[2016-06-13 18:31] marcesher commented on #2172
@kurtw @rosskarchner @kave Crazy idea, probably heresy in Django land: stop using migrations for schema changes.

Hear me out: in lots of other tech, it's not a "thing", or at least not a given, that code and database are so tightly coupled. In fact, it's often considered A Good Thing(tm) to decouple database migrations and code, such that code can work with a version of the database 1 version for

[2016-06-13 18:50] rosskarchner commented on #2172
💭 💣

[2016-06-16 15:20] KimberlyMunoz opened #2194 "Compress images uploaded by Wagtail"
Related to #2175, we should look into doing lossless compression on images uploaded by wagtail.

[2016-06-17 20:06] kurtrwall opened #2199 "Page number form in filterable list pagination molecule drops parameters"
## Current behavior
- The page number field in the pagination molecule has a `Go` button next to it to go to the page specified in the input. The issue is [here](https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/jinja2/v1/_includes/molecules/pagination.html#L63), where the parameters from the filter are made into hidden input fields. If you select multiple options of the same vein, say "Ca

[2016-06-17 20:15] kurtrwall opened #2200 "Form number identifier vulnerable to changing based on user input"
The number appended to the form input fields in a filterable list is the loop index of the blocks in the StreamField that the filterable list exists in. If a user adds another block of content before the filterable list in the StreamField then that number will change. Luckily, links across the site will change along with it. However, any link that's saved before this change occurs will be broken.

[2016-06-29 20:50] kurtw opened #2215 "Custom request error handlers always return 200"
200 OK responses are not OK when there's a server error (500) or a file not found (404).

## Current behavior

- When the server wants to respond with a 404 or 500, [we're catching it](https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/cfgov/urls.py#L304) and always returning a 200 even though it serves back the appropriate 404.html or 500.html page.

## Expected behavior

- The when there'

[2016-06-29 20:52] kurtrwall opened #2216 "Log server errors to a file"
The server errors only log the error to an email sent to the site admins. Maybe we should log them to a local file on the server as well.

[2016-06-30 18:54] kave commented on #2070
i would imagine the frontend assets would live in `cfgov-cms` because the templates are directly tied to the models, you can't have 1 without the other.

[2016-07-01 00:56] rosskarchner commented on #2215
This was fixed in today's hotfix (107dcfc2a0fa821b33042bc401aacc1748599441) , now merged in to flapjack

[2016-07-05 16:26] KimberlyMunoz commented on #2175
Closed by #2178

[2016-07-05 16:26] #2175 closed

[2016-07-06 16:47] kurtw commented on #2215
@rosskarchner is the Platform team closing issues on merge or release?

[2016-07-06 16:55] kurtw commented on #2070
@kave I think there's talk of separating the frontend and backend builds so `pip` wouldn't be dependent on npm or grunt or anything. @vickumar1981 and @vccabral should probably chime in on this and on this issue in general.

[2016-07-08 14:09] kurtrwall opened #2223 "Jenkins job to load Credit Card Agreements data failures"
When @kave was showing me the in's and out's of the ccdb data loading job, the `/tmp/credit-agreements` folder was missing, causing the job to fail. It's possible that it has something to do with RHEL6's [`/etc/cron.daily/tmpwatch`](http://linux.die.net/man/8/tmpwatch) which clears out the tmp directory by age. Combine that with the fact that data only gets loaded once a quarter and we have a poss

[2016-07-08 14:10] kurtw commented on #2223
Two caveats:
1. You probably won't see the failure since we've created the directory recently.
2. This might just be alarmist.

Still, I figure this should be documented somewhere.

[2016-07-20 15:04] amycesal opened #2231 "[BUG] scary search result "Your connection is not private" page"
## Current behavior
- Search results page linked to HTTPS versions of pages. Results in warning page. SCARY!
## Expected behavior
- no warning page. linked to HTTP version
## Screenshots

**Current**

http://search.consumerfinance.gov/search?utf8=%E2%9C%93&affiliate=cfpb&query=fall+consumer+advisory+board

https://www.consumerfinance.gov/about-us/advisory-groups/consumer-advisory-board/

![screen

[2016-07-20 15:18] amycesal opened #2232 "[BUG] search bar text overlaps"
Short description explaining the high-level reason for the new issue.
## Current behavior
- The words in the search bar overlap the magnifying glass icon and the clear button.
## Expected behavior
- There's more padding so things don't overlap
## Steps to replicate behavior
1. type lots of words into the search bar on the homepage in chrome.
## Screenshots

**Current**

![screen shot 2016-07-20 at

[2016-07-20 15:56] rosskarchner commented on #2231
I'll reach out to @ErikSArnold at GSA.

[2016-07-21 20:07] #2215 closed

[2016-07-23 13:48] jimmynotjim commented on #310
Since the secondary nav has been completely re-written to use the atomic expandable, I'm pretty sure this can be closed. Feel free to re-open if I'm wrong.

[2016-07-23 13:48] #310 closed

[2016-07-23 13:49] jimmynotjim commented on #311
Pretty sure this is going away, right @rosskarchner?

[2016-07-23 13:52] jimmynotjim commented on #1690
This is fixed yeah? cc @schaferjh

[2016-07-23 13:52] jimmynotjim commented on #1693
This got fixed prior to launch, closing out.

[2016-07-23 13:52] #1693 closed

[2016-07-23 22:25] anselmbradford commented on #2232
Yeah, something crept into the search CSS in the spring to throw it off, see [original PR](https://github.com/cfpb/cfgov-refresh/pull/1342).

[2016-07-26 14:02] rosskarchner commented on #311
Yeah-- I don't think it's worth investing in fixing this.

[2016-07-27 03:20] schaferjh commented on #1690
For now anyway!

[2016-07-27 03:20] #1690 closed

[2016-07-27 10:51] sebworks commented on #2232
@anselmbradford, looks fine on http://www.consumerfinance.gov/your-story/.

[2016-07-27 12:15] sebworks opened #2248 "[BUG] Filter Button disappears when multiple Topics selected"
Filter Button disappears when multiple Topics selected

## Current behavior

- Filter Button disappears when multiple Topics selected

## Expected behavior

- Filter will adjust to be the correct height. `Apply Filters` button will be visible.

## Steps to replicate behavior

1. Visit `http://www.consumerfinance.gov/about-us/blog/?form-id=1&filter1_title=&filter1_topics=Mortgages&filter1_topics=Fi

[2016-07-27 15:30] anselmbradford commented on #2232
@sebworks oh weird! Looks like the text input is still a little off in tell your story, but the button isn't. Hmmm

[2016-07-27 16:39] anselmbradford opened #2249 "multi-select: inconsistent categorization"
Multi-select related files appear under both atom and molecule.
## Screenshots

![screen shot 2016-07-27 at 12 35 58 pm](https://cloud.githubusercontent.com/assets/704760/17183788/1c4ea6f2-53f7-11e6-85dd-ee0276b6443f.png)

[2016-07-27 16:41] KimberlyMunoz commented on #2249
The issue of solving it here will probably be resolved when it's added to capital framework.

https://github.com/cfpb/capital-framework/issues/344

[2016-07-27 21:02] schaferjh commented on #2248
I've moved this to the platform team board to be addressed: GHE/CFGOV/platform/issues/145.

Will close this issue once a fix is in review.

[2016-07-27 23:21] schaferjh commented on #2232
I believe /your-story/ might have a different header than the home page/other Wagtail-backed pages -- isn't it a sheer page?

[2016-07-28 11:25] Scotchester commented on #2232
It's a WordPress page.

[2016-07-28 11:40] sebworks commented on #2232
@Scotchester @anselmbradford , the css should be the same for both pages, right? Sounds like CSS scoping issue.

[2016-07-29 23:43] anselmbradford opened #2264 "[BUG] Some headers not receiving correct CSS/JS"
## Current behavior

- On-demand header fails in IE8 because `Node` is not defined in https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/unprocessed/js/modules/util/behavior.js#L74

## Expected behavior

- Check existence of `Node` support before calling it or check `nodeType` instead (see http://stackoverflow.com/questions/13377887/javascript-node-undefined-in-ie8-and-under)

## Steps to rep

[2016-07-29 23:50] anselmbradford commented on #2264
In on-demand header `behaviorElement` where this error is thrown is actually the string `a[href^="#"]``, but it hits the second `else if` that checks `Node` before getting to the third `String` check.

[2016-07-30 09:43] sebworks commented on #2264
I thought IE8 was getting the no JS experience.

[2016-08-01 12:54] anselmbradford commented on #2264
@sebworks ah right, good point! The on-demand header must not be falling back properly.

[2016-08-02 20:59] sebworks commented on #2248
Fixed in https://github.com/cfpb/cfgov-refresh/pull/2257

[2016-08-02 20:59] #2248 closed

[2016-08-03 09:30] sebworks commented on #2264
@anselmbradford, can i close this issue?

[2016-08-04 19:02] anselmbradford commented on #2264
I believe this is still a cfgov-refresh issue in that https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/legacy/templates/front/base_update.html looks like it needs [this code](https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/legacy/templates/front/base_nonresponsive.html#L128-L136). @rosskarchner do you know what pages are using `base_update.html` linked above?

[2016-08-05 18:42] #2264 closed

[2016-08-11 18:39] anselmbradford opened #2303 "Run `npm test` from `gulp test`"
## Current behavior
- `npm test` runs snyk npm package vulnerability scan.
## Expected behavior
- Tie snyk vulnerability scan into gulp test workflow, e.g. if `gulp audit:security` is run, the snyk vulnerability scan is run.

[2016-08-11 21:52] KimberlyMunoz commented on #2303
It should be the opposite way around. `npm test` should be the default command that runs the default gulp task.

[2016-08-12 03:51] rosskarchner opened #2306 "our tests no longer require mysql, but tox does"
We recently refactored our Python tests to no longer require MySQL (yay!) BUT....
- `tox` processes all of requirements/base.txt
- base/requirements.txt requests `mysql-python==1.2.5`
- which fails if  you don't actually have mysql installed
## Current behavior

[code]
## Expected behavior

tox runs without incident.
## Steps to replicate behavior

1.`tox`

[2016-08-12 11:11] chosak commented on #2306
@rosskarchner actually this is no longer true:

 I did temporarily remove the Python test dependence on MySQL in [cfgov-refresh#2227](https://github.com/cfpb/cfgov-refresh/pull/2227) but it was restored (albeit in a faster way) in [cfgov-refresh#2242](https://github.com/cfpb/cfgov-refresh/pull/2242).

[2016-08-12 13:44] anselmbradford commented on #2303
That too

[2016-08-12 13:57] anselmbradford opened #2307 "Linting docs should be bulleted list"
## Current behavior

- At the bottom of http://cfpb.github.io/cfgov-refresh/testing/, the last paragraph should be a bulleted list, but is showing as a paragraph with dashes.

## Expected behavior

- Each sentence with a dash should be a bullet in a list.

## Screenshots

__Current__

<img width="745" alt="screen shot 2016-08-12 at 9 55 31 am" src="https://cloud.githubusercontent.com/assets/704760

[2016-08-15 16:24] contolini opened #2313 "Compare JS bundling solutions"
Set up https://www.npmjs.com/package/webpack-closure-compiler and run some size and performance benchmarks comparing it to our current webpack config.

See https://github.com/nolanlawson/cost-of-small-modules.

cc @KimberlyMunoz @sebworks @virginiacc

[2016-08-15 18:13] ascott1 commented on #2313
:+1:

[2016-08-16 15:51] sebworks commented on #2313
yeah, lets do it. I think we can reduce our JavaScript footprint by 50%.

[2016-08-19 15:47] anselmbradford opened #2324 "--sauce CLI flag is broken"
At some point the Sauce Connect `--sauce` flag broke and doesn't work anymore. Fixing this issue should really address https://github.com/cfpb/cfgov-refresh/issues/885 as well.

Also, https://github.com/cfpb/cfgov-refresh/issues/887 and https://github.com/cfpb/cfgov-refresh/issues/886 are Sauce issues.
## Current behavior
- Tests run with and without the `--sauce` flag do not run on Sauce, even wi

[2016-08-26 15:27] anselmbradford opened #2348 "Undocumented `CONTINUOUS_INTEGRATION` envvar"
`CONTINUOUS_INTEGRATION`—what is it? Looks like a boolean value based on its usage (through `configTest.reporter`) [here](https://github.com/cfpb/cfgov-refresh/blob/master/gulp/tasks/test.js#L26).

## Current behavior

- https://github.com/cfpb/cfgov-refresh/blob/master/gulp/config.js#L42 attempts to access envvar `CONTINUOUS_INTEGRATION`, which is not set in `.env_SAMPLE`.

## Expected behavior

[2016-08-30 17:35] Newman101 commented on #2348
Appears only in gulp config.js. It certainly looks like a boolean to my eyes (based on comment eslint-disable-line no-process-env) but I am not sure. Can someone verify this so I can fix the issue, please?

Thank you.

[2016-08-30 17:43] Newman101 commented on #2348
Tried the following:

[code]

The result is obvious, looks like it's not set. Assuming this has something to do with the CI, I would assume that this must be set to ```true```?

[2016-08-30 19:04] anselmbradford commented on #2348
@Newman101 Our ESLint rule [prohibits](https://github.com/cfpb/cfgov-refresh/blob/master/.eslintrc#L522) having `process.env` in the code so that those calls can be consolidated inside https://github.com/cfpb/cfgov-refresh/blob/master/config/environment.js#L13-L22.  In some cases it makes sense to override a rule for an edge case, though I'm not saying this is such a case as it should probably mov

[2016-08-30 22:24] anselmbradford opened #2361 "Analytics.init() called before associated test"
## Current behavior
- `Analytics.init()` test calls init https://github.com/cfpb/consumerfinance.gov/blob/e30d3ac6cb05c7184863f699bffb506db2520163/test/unit_tests/js/modules/Analytics-spec.js#L52, but it has already been called before the test in https://github.com/cfpb/consumerfinance.gov/blob/e30d3ac6cb05c7184863f699bffb506db2520163/test/unit_tests/js/modules/Analytics-spec.js#L1 because of http

[2016-08-30 22:30] anselmbradford opened #2362 "Remove mocha-jsdom in favor of jsdom"
We use a mix of jsdom directly and mocha-jsdom. When jsdom is updated, mocha-jsdom pulls it in automatically, but since mocha-jsdom has not been updated since February it is no longer compatible with the current jsdom version. Mocha-jsdom should probably be removed and jsdom used directly.
## Current behavior
- Updating jsdom leads to errors in tests using mocha-jsdom.
## Expected behavior
- Updat

[2016-08-30 23:06] sebworks commented on #2361
It's just testing that the state is properly set, when init is called,  with and without a defined `window.google_tag_manager` value.  The `google_tag_manager` value should be `undefined` when `Analytics.js` is required ( init is automatically called when it's required ). I then set the `google_tag_manager` value, and call init again.

[2016-09-02 09:33] #2307 closed

[2016-09-02 16:44] anselmbradford commented on #2361
That makes sense. The one recommendation I'd have is to not call the external API internally without user input. So instead of calling `Analytics.init();` [here](https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/unprocessed/js/modules/Analytics.js#L87), use lazy instantiation to call it when it's actually needed by adding:
[code]
…to [this line](https://github.com/cfpb/cfgov-refresh/blob/mas

[2016-11-19 22:09] KimberlyMunoz opened #2546 "Technology and Innovation Fellowship page is off..."
I sent the T&I fellowship page to a @antislice and all the JS, CSS, and images are broken. :(

## Current behavior

![image](https://cloud.githubusercontent.com/assets/1860176/20458736/94c947f8-ae61-11e6-94d7-861ac20f97f7.png)

## Expected behavior

- It should look something like this. http://web.archive.org/web/20160308233312/http://www.consumerfinance.gov/jobs/technology-innovation-fellows/

##

[2016-11-22 16:52] chosak commented on #2546
This was fixed in #2547 and is now fixed on [the live site](http://www.consumerfinance.gov/jobs/technology-innovation-fellows/). Thank you for reporting this @KimberlyMunoz!

[2016-11-22 16:52] #2546 closed

[2016-12-02 19:23] mistergone opened #2569 "Required field inconsistencies"
There are inconsistencies on how required fields are shown as being required.

The `input.html` atom uses "(Optional)" as a text indicator for non-required fields
* [input.html](https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/jinja2/v1/_includes/atoms/input.html)

The `big-checkbox.html` molecule and the `large-radio.html` atom use an asterisk ("*") as an indicator for required fields.

*

[2016-12-02 19:28] #2569 closed

[2016-12-09 01:20] sebworks commented on #1838
This has been fixed.

[2016-12-09 01:20] #1838 closed

[2016-12-09 01:27] sebworks commented on #416
This is no longer relevant.

[2016-12-09 01:27] #416 closed

[2016-12-09 01:29] sebworks commented on #531
We no longer include the version in the banner.

[2016-12-09 01:29] #531 closed

[2016-12-09 01:30] sebworks commented on #569
We no longer use `cf_notifier.js`.

[2016-12-09 01:30] #569 closed

[2016-12-09 01:32] sebworks commented on #570
We no longer use `cf_notifier.js`.

[2016-12-09 01:32] #570 closed

[2016-12-09 01:38] sebworks commented on #571
This has been addressed.

[2016-12-09 01:38] #571 closed

[2016-12-09 01:43] sebworks commented on #832
We no longer use `cf-notifications` so I'm going to close this issue.

[2016-12-09 01:43] #832 closed

[2016-12-09 01:51] sebworks commented on #1201
This issue is no longer relevant. There are plenty of NPM modules which could remedy this issue.

[2016-12-09 01:51] #1201 closed

[2016-12-09 22:01] rosskarchner commented on #1097
at long last, links.sh is gone.

[2016-12-09 22:01] #1097 closed

[2016-12-12 21:50] kurtrwall commented on #1097
Praise @dpford

[2016-12-30 21:38] anselmbradford opened #2634 "Leadership calendar page missing breadcrumb"
## Current behavior

- http://www.consumerfinance.gov/about-us/the-bureau/leadership-calendar/ is missing the `The Bureau` breadcrumb that other pages in that section have.

## Expected behavior

- All pages within the bureau section should have a breadcrumb link back to the main about the bureau page above the navigation.

[2016-12-30 21:41] anselmbradford opened #2635 "Press resources missing breadcrumb"
## Current behavior

- http://www.consumerfinance.gov/about-us/newsroom/press-resources/ is missing a breadcrumb back to the Newsroom page.

## Expected behavior

- Other parts of the site include a breadcrumb back to the main section page (e.g. http://www.consumerfinance.gov/about-us/the-bureau/about-director/). Seems like Press Resources doesn't follow this format, unless this is intentional sin

[2016-12-30 21:45] anselmbradford opened #2636 "Event filter multiselect is broken"
## Current behavior

- Events filter Topic filter appears to be broken with unclickable options when there are no upcoming events.

## Expected behavior

- Expects topic filter to be multi-select with clickable options.

## Steps to replicate behavior

1. Visit http://www.consumerfinance.gov/about-us/events/
2. Click show filter.
3. Note Topic multi-select options are showing and are unclickable.

[2016-12-30 21:48] anselmbradford opened #2637 "Event filter date range is too rigid"
## Current behavior

- Date range for event filter doesn't support single digits for day and month designation.

## Expected behavior

- If a day or month is entered with a single digit, pad the entered digit with zero instead of throwing an error.

## Steps to replicate behavior

1. Visit http://www.consumerfinance.gov/about-us/events/
2. Show filter.
3. Entered a date such as `1/1/2016`
4. Note

[2016-12-30 21:58] anselmbradford opened #2638 "Remove redundant breadcrumbs.html"
## Current behavior

- Identical macros https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/jinja2/v1/_includes/breadcrumbs.html and https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/jinja2/v1/_includes/molecules/breadcrumbs.html exist.

## Expected behavior

- Only https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/jinja2/v1/_includes/molecules/breadcrumbs.html should exist and ref

[2016-12-30 22:02] anselmbradford opened #2639 "`breadcrumb__sidebar-first` class appears to be unused"
## Current behavior

- https://github.com/cfpb/cfgov-refresh/blob/83c1281bd92868437c5a8b611d686f020d53f2dc/cfgov/jinja2/v1/_layouts/content-base-sidebar-first.html#L17 does not appear to be used.

## Expected behavior

- Unused classes should be removed.

## Steps to replicate behavior

1. Visit http://www.consumerfinance.gov/about-us/the-bureau/about-director/
2. Inspect the breadcrumb and note n

[2016-12-30 23:45] sebworks commented on #2636
Looks like this is happening because there are no upcoming events. We should discuss if it's just worth hiding the filter.

[2017-01-03 14:34] chosak commented on #2634
The breadcrumb is missing because this page's parent (The Bureau) is not in Wagtail yet. In order for breadcrumbs to render properly, pages need their full ancestry to be served by Wagtail.

[2017-01-03 17:30] Scotchester commented on #2639
For additional confirmation, the string `sidebar-first` does not appear anywhere in our `cfgov/unprocessed/css` folder anymore.

There's also [these](https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/jinja2/v1/_layouts/content-base-main-first.html#L10) [instances](https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/jinja2/v1/_layouts/content-base-main-first.html#L17) in `content-base-mai

[2017-01-03 21:12] jimmynotjim opened #2642 "Remove demo.less"
This project hasn't had a demo version for some time, pretty sure this file can be removed to tidy things up. https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/unprocessed/css/demo.less

[2017-01-03 22:25] anselmbradford opened #2644 "The Bureau styles defined but not included"
## Current behavior

- [This template](https://github.com/cfpb/cfgov-refresh/blob/4f3e8b308c630038b02920c2c5104c6ba6f607d3/cfgov/jinja2/v1/about-us/the-bureau/index.html#L106) uses `bureau-functions`, which is defined in [bureau.less](https://github.com/cfpb/cfgov-refresh/blob/4f3e8b308c630038b02920c2c5104c6ba6f607d3/cfgov/unprocessed/css/pages/bureau.less). However, that less file is not included

[2017-01-03 22:25] anselmbradford commented on #2642
Also https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/unprocessed/css/main.less#L172

[2017-01-03 22:28] anselmbradford commented on #2634
@chosak All other pages in that section have the breadcrumb, can't the leadership calendar use the same code those pages use? Or not worth the effort as it'll all be in wagtail eventually?

[2017-01-03 22:44] Scotchester commented on #2644
/cc @sebworks

[2017-01-03 23:43] sebworks commented on #2644
yep, must have got deleted when I did the jQuery stuff. I'll add it back.

[2017-01-04 11:54] sebworks commented on #2638
There is some difference in macro workings and I don't think it's worth it to address until all the pages are migrated to Wagtail. There is an existing TODO for that here: https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/jinja2/v1/_layouts/content-base-main-first.html#L4.

[2017-01-04 12:00] #2644 closed

[2017-01-04 13:50] sebworks commented on #2634
@anselmbradford, all the other pages are legacy pages. I've created a hack to fix the issue but it won't scale well. We need a more robust solution to handle cases where some of the pages aren't in Wagtail.

[2017-01-05 14:54] #2642 closed

[2017-01-05 20:10] contolini opened #2654 "Stop nuking node_modules"
Our build script deletes the [project's node_modules directory](https://github.com/cfpb/cfgov-refresh/blob/master/frontend.sh#L29) before re-installing everything:

[code]

This is good for idempotence but bad for efficiency.

[code]

It doesn't affect local development a whole lot but it adds minutes to our CI jobs and slows down deployments. How would y'all feel about removing it from our build

[2017-01-06 19:40] marcesher commented on #2654
💯

[2017-01-06 19:42] Scotchester commented on #2654
I'm certain that we started doing this intentionally. I don't fully remember why, but are we sure that whatever reason we did it isn't still in play?

[2017-01-06 19:46] chosak commented on #2654
I like the idea of removing the deletion by default. Would it be possible to add either a command-line parameter to `frontend.sh` (and, I suppose, then `setup.sh`) or an environment variable to retain the option to remove that directory? I'm thinking it might be useful to support a cleaning option in the build scripts, and this would avoid having to refer to `$NODE_DIR` outside of this script.

[2017-01-09 07:54] contolini commented on #2654
I think it was added to reduce JS compilation errors by ensuring we always have fresh copies of the project's node modules. I would rather manually wipe `node_modules` when I run into errors than do it on every install.

I'm into this. Something like `./setup.sh --clean`.

[2017-01-09 14:40] sebworks commented on #2654
👍

[2017-01-09 14:56] Scotchester commented on #2654
I think that is a good compromise. One thing we should be sure to watch out for is running that proactively when we remove a dependency.

[2017-01-11 16:26] #2635 closed

[2017-01-12 04:55] jimmynotjim commented on #2654
We only need to nuke the modules directory when https://github.com/cfpb/cfgov-refresh/blob/master/npm-shrinkwrap.json updates right? Is there some way we could notify folks when they pull down the latest that it's been updated? It's not something I'd think to check very often since it's been kind of automatic so far.

[2017-01-12 22:53] jimmynotjim commented on #1009
Pretty sure this isn't a thing any more and can be closed.

[2017-01-12 22:55] #311 closed

[2017-01-12 22:55] jimmynotjim commented on #305
This was replaced long ago with an atomic video component.

[2017-01-12 22:55] #305 closed

[2017-01-12 22:59] jimmynotjim commented on #256
This has moved but it's still there https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/jinja2/v1/_includes/macros/category-icon.html

[2017-01-13 13:36] #2639 closed

[2017-02-03 11:42] tomdyson opened #2731 "Get in touch with the Wagtail core team"
This is a fantastic project. As a member of the Wagtail core team I've learned a lot from reading your PRs. We're also very interested in your `wagtail-sharing` and `wagtail-flags` apps. We'd love you to make contact so we can learn from each other.

## Current behavior

The CFPB team isn't in touch with the Wagtail core team.

## Expected behavior

The CFPB team should be in touch with the Wagtai

[2017-02-06 11:46] sebworks opened #2732 "Upgrading to Webpack 2"
Webpack Version 1 is deprecated and we should begin to migrate repos to version 2. https://webpack.github.io/docs/. The documentation and functionality is vastly improved in[ version 2](https://webpack.js.org/guides/migrating/).

~~~We should also phase out webpack-stream, which appears to be no longer be well maintained: https://github.com/shama/webpack-stream/issues/125.~~~ Looks like `webpack-s

[2017-02-13 14:07] rosskarchner commented on #1993
Making progress, @konklone https://pulse.cio.gov/https/domains/#q=www.consumerfinance.gov  ;)

[2017-03-02 15:50] sebworks commented on #2732
This was done in https://github.com/cfpb/cfgov-refresh/pull/2736

[2017-03-02 15:50] #2732 closed

[2017-04-04 14:50] rosskarchner commented on #2306
I think this is no longer the case?

[2017-04-04 15:28] rosskarchner commented on #2306
Thanks @chosak for pointing out that it is almost certainly *still* the case

[2017-04-05 15:48] #2070 closed

[2017-04-05 17:16] rosskarchner commented on #2172
This discussion has moved elsewhere

[2017-04-05 17:16] #2172 closed

[2017-04-12 21:30] nataliafitzgerald opened #2843 "Bug: Insufficient space above the pagination controls"
### Bug: Insufficient space above the pagination control molecule.

#### Current behavior
- The last post preview organism doesn't possess the necessary bottom margin.

#### Expected behavior
- The last post preview organism should have 30px of bottom margin.

## Steps to replicate behavior

1. This can be seen here:
https://www.consumerfinance.gov/data-research/cfpb-researchers/

## Screenshots
|

[2017-04-13 14:51] anselmbradford opened #2844 "Clarification on IE7 support"
## Current behavior

- In https://github.com/cfpb/cfgov-refresh/blob/cb923f0834c49864e65735767fbd91aed613263f/gulp/tasks/styles.js#L70-L93 IE7 and 8 are mentioned. Autoprefixer is set up for IE7 and 8 compatibility while gulpCleanCss is set for only IE8 compatibility later in the same task. Checking if IE7 should be completely dropped from this task?

## Expected behavior

- stylesIE8 task should

[2017-04-13 15:07] sebworks commented on #2844
I don't feel like we should support IE7 based on the analytics and testing constraints.

[2017-04-14 21:07] anselmbradford commented on #2844
Sounds good to me 👍

[2017-04-18 22:38] anselmbradford opened #2853 "Wagtail: image and text 25/75 requires alt image tag twice"
## Current behavior

- When an image is uploaded in wagtail an alt text field is filled in for the image.
- When an image from the wagtail image library is used for an image and text 25/75 component, the image has an alt text field also.

## Expected behavior

- After the alt image text field is filled in for an uploaded image that alt text should just be used where ever the image is used.

## Ste

[2017-04-19 14:11] Scotchester commented on #2853
There's a related bug where, if no alt text is entered on an image in a 50/50 Image and Text module and it's set to use a 16:9 image, the image will not be rendered.

In both cases, fixing the issue should be done in such a way as to preserve the ability to render an image with no alt text (either as `<img alt="">` or as a CSS `background-image`), for cases in which we wouldn't want a screenreader

[2017-04-19 21:05] jimmynotjim commented on #2853
I remember now we had set it up to use an `img` if the `alt` text existed and a `background-image` if it didn't. We must have missed something along the way though that caused the 50/50 to break.

[2017-04-28 13:46] sebworks commented on #2249
Issue was closed in #2270

[2017-04-28 13:46] #2249 closed

[2017-05-01 16:48] anselmbradford opened #2884 "Submit a complaint on /complaint should go to /complaint/getting-started"
## Current behavior

- When on `/complaint` "Submit a Complaint" link is prominent on the upper-right, but the "Start a complaint" button may be scrolled out of view. This could lead a user clicking "Submit a Complaint" in the upper-right and expect to be taken to `/complaint/getting-started` (as the button further down on the page does). However, that link goes to the same page the user is on, so

[2017-05-01 16:52] Scotchester commented on #2884
OR have it go to `/complaint/getting-started` IF you're already on `/complaint`?

[2017-05-01 16:53] Scotchester commented on #2884
And then there's the question of what to do with that link when on https://www.consumerfinance.gov/complaint/getting-started/ :)

[2017-05-08 20:33] jimmynotjim commented on #1307
This is now in Capital Framework => https://github.com/cfpb/capital-framework/pull/483

[2017-05-08 20:33] #1307 closed

[2017-05-08 20:34] jimmynotjim commented on #1009
Also of note, we've discussed not including the nav in Capital Framework, since it's a very specific need to the live site.

[2017-05-08 20:34] #1009 closed

[2017-05-08 20:35] jimmynotjim commented on #668
This happened during the Atomic Design push. Closing

[2017-05-08 20:36] jimmynotjim commented on #668
Gah, wrong repo. Getting to trigger happy

[2017-05-08 20:38] jimmynotjim commented on #317
Pretty sure this has changed drastically in the last two years and can be closed.

[2017-05-08 20:38] #317 closed

[2017-05-17 12:35] sebworks opened #2918 "Remove Ustream code and most of the Video Player code"
We no longer use the Ustream player and rely upon Youtube for live streams and archive playback.  Much of the video player JS code was built upon the premise of using multiple video player APIs. That is no longer the case, so the code should removed.

[2017-05-17 15:02] jimmynotjim commented on #2918
🍌 💃 (Github needs the real banana dance emoji)

[2017-06-02 19:27] anselmbradford opened #2979 "Your Money, Your Goals menu broken in IE"
## Current behavior

Error (1):
- Visit /educational-resources/your-money-your-goals/ in IE9
- Click on a mega menu item, such as Data & Research
- See error in console `SCRIPT5007: Unable to get value of property 'getDom': object is null or undefined`

Error (2):
- Visit /educational-resources/your-money-your-goals/ in IE10
- Click on a mega menu item, such as Data & Research
- See error in conso

[2017-06-02 20:58] sebworks commented on #2844
Fixed in https://github.com/cfpb/cfgov-refresh/pull/2976

[2017-06-02 20:58] #2844 closed

[2017-06-05 14:56] Scotchester commented on #2979
Can't reproduce in IE9. Still need to get an IE10 VM downloaded after business hours when I'm off the VPN.

[2017-06-05 15:21] anselmbradford commented on #2979
Looked again, are you clicking the Data & Research heading? Once you do that the menu will not expand anymore:

![glitchy](https://cloud.githubusercontent.com/assets/704760/26790206/e8eccf92-49e0-11e7-9136-ed519b7d59db.gif)

Probably my authored bug 👅

[2017-06-05 16:02] Scotchester commented on #2979
Hmmm, OK, I'll take another look. I think I missed the instruction to click.

[2017-06-06 23:11] anselmbradford opened #2996 "--a11y flag broken"
## Current behavior

- https://github.com/cfpb/cfgov-refresh/blob/master/docs/testing.md says `gulp test:acceptance --a11y` is a command.
- `gulp test:acceptance --a11y` runs tox at https://github.com/cfpb/cfgov-refresh/blob/master/gulp/tasks/test.js#L60, but only looks for `--specs` flag.
- tox runs `gulp test:acceptance:protractor` at https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/cfgov

[2017-06-07 14:10] sebworks commented on #2996
even if you pass the flag, how did this work before?

[2017-06-07 14:20] anselmbradford commented on #2996
`gulp test:acceptance:protractor --a11y`, works, but `gulp test:acceptance` calls that task, but strips the flag, so it could be just that the documentation is wrong, but it seems like it should pass through any flags in `gulp test:acceptance` back to gulp, not just `--spec`.

[2017-06-07 15:05] sebworks commented on #2996
yep, I see it now. Fixed in #2997.

[2017-06-07 21:09] jimmynotjim commented on #2979
Confirmed this behavior. Not so sure on a fix.

[2017-06-09 10:49] #2996 closed

[2017-06-09 22:20] sebworks commented on #1294
This will be fixed in https://github.com/cfpb/cfgov-refresh/pull/3010

[2017-06-14 13:58] anselmbradford commented on #2979
Just saw this bug in Chrome on OS X but can't replicate.

[2017-06-14 16:22] #1294 closed

[2017-06-16 10:26] sebworks commented on #885
Fixed in #3040

[2017-06-16 10:27] sebworks commented on #2324
Fixed in #3040

[2017-06-16 10:45] sebworks commented on #2324
I've modified the code to not default to  Sauce because it does require setting `.env` variables and runs externally.

[2017-07-06 14:10] sebworks opened #3103 "Migrating JS Atomic Components to Preact"
[Preact](https://github.com/developit/preact) is the perfect library for what we want to accomplish. It has a great API, documentation, and community support. It's also just 3kb. I'm going to be migrating https://github.com/cfpb/AtomicComponent to use Preact. The CF4 components will need to be migrated as well.

## Notes

- I do have some concerns surrounding event delegation but those are far out

[2017-07-06 14:41] cfarm commented on #3103
We are baking in the loss of support for IE8 JS further with this. I would like to know more about how that decision was made and why, since it impacts many key applications on cf.gov.

[2017-07-06 14:45] sebworks commented on #3103
@cfarm, we don't support IE8 with JS. We haven't in a very long time.

[2017-07-06 14:47] cfarm commented on #3103
Yes, I realize that. It's something I only just learned at the last regroup, though. So I would like more insight into when and how that came to be - it wasn't something I was aware of before I joined platform team, nor were my teammates aware of it. Is there documentation on when and why the support was dropped?

[2017-07-06 14:53] sebworks commented on #3103
It has always been the policy that once the browser support reached a certain level that we dropped support for it. The flapjack team just made the determination to drop JS support based on the level of users and MS dropping security updates for the browser.

[2017-07-06 15:25] jimmynotjim commented on #3103
@cfarm that's on us for not making sure it was outside the original team and for not documenting it for the future. Do you think we should document it here or in the Development repo? I can take a stab at documenting it tomorrow, though the _when_ details are a bit foggy at this point.

[2017-07-06 15:29] cfarm commented on #3103
@jimmynotjim yeah I was just chatting with @sebworks about this. Development repo seems like the place for it - specifically:

- adding a note to the IE8 bullet that JS is not supported https://github.com/cfpb/development/blob/master/browser-checklist.md
- and maybe https://github.com/cfpb/development/blob/master/javascript.md

&lt;/derail&gt; continue thread topic as originally planned :bowing_wo

[2017-07-12 17:10] anselmbradford opened #3123 "Prefooter content on blog has inconsistent left/right spacing"
## Current behavior

- Subscribe to RSS feed has different spacing in prefooter than other components around it.

## Expected behavior

- All components in the prefooter have the same left/right space.

## Steps to replicate behavior

1. Visit https://www.consumerfinance.gov/about-us/blog/
2. Resize the page down to mobile size.
3. Scroll to view prefooter.

## Screenshots

__Current__

![screen s

[2017-07-12 17:32] Scotchester opened #3124 "Revisit base definition list styling"
## The issue:

In updating the styling that fin-ed-resources imports from this project for the CF4 upgrade, I noticed that [this universal definition list styling](https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/unprocessed/css/enhancements/typography.less#L241-L268) was added to the CF enhancements here. This works pretty well for its [intended purpose](https://github.com/cfpb/cfgov-refre

[2017-07-12 17:52] ielerol commented on #3124
This is an example of the styling as intended on the jobs pages, right?

<img width="747" alt="screen shot 2017-07-12 at 10 46 42 am" src="https://user-images.githubusercontent.com/10562543/28131667-787b1896-66ef-11e7-8411-c0f40ba79e2c.png">

I agree that it's working well there and definitely not so well in that webinar archive example.

[2017-07-12 17:57] Scotchester commented on #3124
That's right, @ielerol.

[2017-07-13 20:04] wpears commented on #3103
@sebworks let's chat about preact next week, I like it and have used it, but this seems like a fairly big decision we should probably hash out a bit more amongst the group

[2017-07-13 20:59] ascott1 commented on #3103
Just came across this issue and I want to echo @wpears's comment. This is a decision that should be made at the team level. Preact is certainly interesting technology, but this would incur some new technical debt that should be considered. Hold off on implementing until this has been discussed more widely.

[2017-07-20 19:45] anselmbradford commented on #2731
@hillaryj @amymok and @anselmbradford will be at Djangocon!

[2017-07-22 14:26] sebworks opened #3164 "React Native App"
We need a React Native app to break through the noise barrier ( text messages, email, etc). I was thinking about a Progressive Web Application but IOS doesn't provide full support yet. A React Native application would provide a level of interactivity and communication that we currently don't get with a web app.

[2017-07-24 17:15] #996 closed

[2017-07-25 21:18] cfarm opened #3175 "Update documentation to include package-lock.json steps"
Current docs still describe npm-shrinkwrap usage.

https://cfpb.github.io/cfgov-refresh/development-tips/

[2017-07-25 21:27] cfarm opened #3176 "Automate deleting package-lock.json"
It seems that it's necessary to delete `package-lock.json` every time an npm package version is upgraded, before running `frontend.sh` or `./setup.sh` or `npm install`

Let's automate this step in frontend.sh like we do removing the node_modules dir.

[2017-07-27 15:47] hillaryj commented on #2731
Here are the repos mentioned and a [guide on how to use feature flags](https://cfpb.github.io/cfgov-refresh/feature-flags/):

[`wagtail-flags`](https://github.com/cfpb/wagtail-flags)
[`wagtail-sharing`](https://github.com/cfpb/wagtail-sharing)

[2017-08-01 14:24] AdamZarger opened #3191 "Node version and load-env.sh"
When you run `source load-env.sh` as part of initial set up, the script will instruct nvm to use Node v5.12.0 by default. The `frontend.sh` (and by extension `setup.sh`) script requires Node v8.x.x in order to run successfully. One solution is to manually tell nvm the correct version to use (`nvm use 8.2.1`), but each time the `load-env.sh` script is run, it automatically sets the version back to

[2017-08-01 15:02] AdamZarger commented on #3191
It was determined via conversation with the cfgov team that this issue is the result of multiple terminal windows being open and having independent states.

[2017-08-01 15:02] #3191 closed

[2017-08-04 20:58] anselmbradford opened #3213 "In Contact > Phone, is_fax should apply to EACH number not ALL numbers."
## Current behavior

- There's a checkbox for whether all numbers entered are fax numbers or not.

## Expected behavior

- Each number entered should have a checkbox as to whether it is a fax number or not.

## Steps to replicate behavior

1. Add a browse page in Wagtail.
2. Add an expandable.
3. Add a Phone.
4. Add additional phone numbers and see that there's only one checkbox to say whether the

[2017-08-04 21:44] anselmbradford opened #3214 "Wagtail admin: Contact > Phone rendering mangled when including dashes"
Short description explaining the high-level reason for the new issue.

## Current behavior

- Add a phone number inside an expandable in Wagtail with dashes.
- Preview the page and note that it is mangled.

## Expected behavior

- Formatting of phone number with dashes is either disallowed, or is gracefully handled.

## Steps to replicate behavior

1. Create a browse page in wagtail.
2. Add an exp

[2017-08-08 20:41] #2843 closed

[2017-08-10 15:45] anselmbradford opened #3233 "Email signup abbr and wonky with defaults"
The email signups uses some abbreviations in the UI, which it probably shouldn't and it doesn't show the default input properly.

## Current behavior

- Email signup includes `Gd code`, what is this? How's the user supposed to know?
- It also includes `Btn text`, which should probably be expanded to `Button text`.

![screen shot 2017-08-09 at 1 44 33 pm](https://user-images.githubusercontent.com/7

[2017-08-10 16:34] anselmbradford commented on #2654
Was this resolved?

[2017-08-10 16:37] anselmbradford commented on #861
Some have been moved here https://github.com/cfpb/cfgov-refresh/blob/master/config/environment.js#L11-L25

[2017-08-10 16:39] anselmbradford commented on #875
This is done.

[2017-08-10 16:39] #875 closed

[2017-08-10 16:50] #885 closed

[2017-08-10 16:51] #2324 closed

[2017-08-10 16:53] anselmbradford commented on #877
This is still an issue on the blog and elsewhere probably, but could likely be solved by copying the work done in https://github.com/cfpb/cfgov-refresh/pull/3204

[2017-08-10 16:56] anselmbradford commented on #2168
This is live on https://complaint.consumerfinance.gov/submit-a-complaint/s/products now.

[2017-08-10 16:58] anselmbradford commented on #2232
This is sort of fixed, though it's really tight still:
![screen shot 2017-08-10 at 12 58 31 pm](https://user-images.githubusercontent.com/704760/29182122-abc1417e-7dcb-11e7-93d9-1ab838601150.png)

[2017-08-10 16:59] anselmbradford commented on #2231
@rosskarchner This can be closed, right?

[2017-08-10 17:01] anselmbradford commented on #2194
@chosak do you know if this was implemented?

[2017-08-10 17:03] anselmbradford commented on #1993
@rosskarchner can this be closed?

[2017-08-10 17:08] chosak commented on #2194
@anselmbradford not that I know of. Wagtail does support compression of images in templates, but we're not using that anywhere as far as I know.

[2017-08-10 18:10] jimmynotjim commented on #2654
After running into some issues with the CF docs branch, it seems you really do sometimes need to nuke a module in order to convince npm to update it. Even after changing the version in `package.json` I could not get it to update till I deleted the package from the project.

[2017-08-10 18:17] anselmbradford commented on #2194
Thanks!

[2017-08-11 18:42] rosskarchner commented on #1993
YES!

[2017-08-11 18:42] #1993 closed

[2017-08-11 18:44] rosskarchner commented on #2231
Yes!

[2017-08-11 18:44] #2231 closed

[2017-08-12 22:07] konklone commented on #1993
:tada:

[2017-08-14 18:10] anselmbradford opened #3244 "Snippet List: Tags is required, but not designated as so with an asterisk"
## Current behavior

- The "tags" on a snippet list are required, but unlike other required elements within a snippet list are not marked with an asterisk.

## Expected behavior

- All required elements are styled the same (marked with an asterisk in this case).

## Steps to replicate behavior

1. In wagtail add a snippet list and hit save without entering in any info. See that the tags are requir

[2017-08-14 18:14] anselmbradford commented on #3244
Unrelated, but the `Enter tag names…` helper text is also indented too far.

[2017-09-22 14:52] anselmbradford opened #3392 "Checkboxes are off on multi-select"
## Current behavior

- Looks like the multi-select's checkboxes checks are low compares to basic checkboxes. One or the other is wrong.

## Expected behavior

- All checkboxes look the same when checked.

## Steps to replicate behavior

1. visit /blog and check out the checkboxes in the filter.

## Screenshots

__Current__

![screen shot 2017-09-22 at 10 51 18 am](https://user-images.githubusercon

[2017-09-22 14:55] anselmbradford commented on #3392
Actually, looks like it's due to the checkbox box size of the multi-select being slightly larger.

[2017-10-04 02:11] jimmynotjim opened #3443 "BUG: Select elems in filterable controls get a-text-input classname"
## Current behavior

The classname set [here](https://github.com/cfpb/cfgov-refresh/blob/3859d69acd6fc7d0acfefad827016dc77542dfbf/cfgov/v1/forms.py#L165) is also being set on select elements within the filterable controls module. It's been hidden because that element is replaced by the multiselect on page load.

## Expected behavior

The select element should have the proper class `a-multiselect`

[2017-10-04 02:59] jimmynotjim commented on #3392
Part of this might be that the multiselect is using `cf-text-input` and possibly other old styles from this repo. Worth looking into updating this to v4 styles prior to moving it into Capital Framework.

[2017-10-12 16:34] sebworks commented on #937
Closed in #3469

[2017-10-12 16:34] #937 closed

[2017-10-19 19:54] anselmbradford opened #3498 "highcharts.css included in main.css uncompressed"
## Current behavior

- highcharts.css is added to main.css unminized. (And to all pages.)

## Expected behavior

- highcharts.css should be minified with the rest of the CSS.

## Steps to replicate behavior

1. Check `static_built/css/main.css` and see that highcharts CSS is unminified at the top.

## Screenshots

__Current__

![screen shot 2017-10-19 at 3 53 21 pm](https://user-images.githubuserc

[2017-10-19 20:36] anselmbradford opened #3501 "Combine atomic-design page docs"
## Current behavior

- Currently we have https://github.com/cfpb/cfgov-refresh/blob/master/docs/atomic-structure.md and https://github.com/cfpb/cfgov-refresh/blob/master/docs/notes-on-atomic-design.md

## Expected behavior

- Consolidate atomic-design into one doc.

[2017-10-19 20:39] anselmbradford commented on #3501
Also, much of this is outdated and internal chatter https://github.com/cfpb/cfgov-refresh/blob/master/docs/notes-on-atomic-design.md

[2017-10-20 02:57] sebworks commented on #3498
This is happening because of the [inline](https://github.com/cfpb/cfpb-chart-builder/blob/master/src/css/cfpb-chart-builder.less#L1) property in the less file. If you switch it to `less`, then it seems to work fine.

[2017-10-20 15:37] anselmbradford opened #3506 "Window size is undefined in sauce labs output"
## Current behavior

- Run `gulp test:acceptance --sauce` and note output in Sauce dashboard has `undefined,undefinedpx` listed:

![screen shot 2017-10-20 at 11 33 53 am](https://user-images.githubusercontent.com/704760/31829306-e0db17d0-b58a-11e7-9aa7-3e0544c276d5.png)

## Expected behavior

- Sauce dashboard output should properly report window size or omit it.

[2017-10-28 04:13] anselmbradford opened #3524 "Some JS unit tests missing -spec suffix."
## Current behavior

- All JS unit tests have the `-spec` suffix in the file name so they are easier to differentiate from the source file when using cmd+t in an editor to look them up. However, the tests in https://github.com/cfpb/cfgov-refresh/tree/master/test/unit_tests/apps have the same file names as the source files.

## Expected behavior

- JS unit tests should all either have a `-spec` suf

[2017-10-28 04:48] sebworks commented on #3524
closed in #3525

[2017-10-28 04:48] #3524 closed

[2017-10-28 19:07] anselmbradford opened #3527 "Sauce window dimensions are not being set"
## Current behavior

- Running tests on sauce shows up `undefined,undefinedpx` because [this reference does not exist anymore](https://github.com/cfpb/cfgov-refresh/blob/master/test/browser_tests/conf.js#L183-L184):
[code]

## Expected behavior

- Running tests on sauce should display the window dimensions that are being run, which will be either a default or the custom dimensions set in the `--wi

[2017-10-28 19:09] anselmbradford commented on #3527
Lets make the output look like `1200px × 900px` (that's https://en.wikipedia.org/wiki/Multiplication_sign, not an 'x')

[2017-10-28 19:52] anselmbradford opened #3528 "Protractor parameters are not including text after spaces"
## Current behavior

- Try `gulp test:acceptance --platform='OS X 10.9' --sauce` and [this line](https://github.com/cfpb/cfgov-refresh/blob/master/test/browser_tests/conf.js#L183) will have `platform` set to `OS`, not the full string with spaces, which leads to a Sauce error since the OS version is not specified.

## Expected behavior

- It's possible to pass quoted strings as a command-line param

[2017-10-30 18:16] anselmbradford opened #3531 "Outdated code job link"
## Current behavior

- [This code comment](https://github.com/cfpb/cfgov-refresh/blob/899a249b70c93743dafe3b23f1ba60aa5e128be4/cfgov/jinja2/v1/_layouts/base-common.html#L19) links to https://www.consumerfinance.gov/jobs/technology-innovation-fellows/, which contains outdated job links and info about fellows who are no longer with the bureau.

## Expected behavior

- https://www.consumerfinance.gov

[2017-11-03 18:36] anselmbradford commented on #353
I can't find the context for this any more. All I can dig up is https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/unprocessed/css/pages/event.less#L116

[2017-11-03 18:36] #353 closed

[2017-11-03 18:38] anselmbradford commented on #428
Is this issue referring to https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/unprocessed/css/pages/event.less#L116 ?

[2017-11-03 18:41] anselmbradford commented on #512
@jimmynotjim Do you see the issue in https://www.consumerfinance.gov/about-us/blog/accepting-applications-for-our-advisory-board-and-councils-2015/ related to insets?

[2017-11-03 19:01] anselmbradford commented on #677
Can't find `.inset-divider` anymore

[2017-11-03 19:01] #677 closed

[2017-11-03 19:03] anselmbradford commented on #1172
Expandable uses atomic-component, which uses this I'm pretty sure.

[2017-11-03 19:03] #1172 closed

[2017-11-03 19:05] anselmbradford commented on #2636
Yeah we should hide the filter when there are no events. This is currently (11/3) broken on the live site https://www.consumerfinance.gov/about-us/events/

@chosak This an easy fix?

[2017-11-03 19:05] anselmbradford commented on #3175
Is this fixed?

[2017-11-03 19:13] #3498 closed

[2017-11-03 20:19] #861 closed

[2017-11-06 22:49] jimmynotjim commented on #512
@anselmbradford This post was converted from WordPress prior to launch and would have changed from when this issue was created. I think we can close it.

[2017-11-06 22:51] jimmynotjim commented on #428
I don't remember events having steps but I know OaH does https://www.consumerfinance.gov/owning-a-home/process/close/

[2017-11-07 14:47] #512 closed

[2017-11-07 15:10] Scotchester commented on #428
It's referring to this: https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/unprocessed/css/misc.less#L154-L254

[2017-11-07 15:47] jimmynotjim commented on #428
Looks like it was only used on [Doing Business with Us](https://www.consumerfinance.gov/about-us/doing-business-with-us/) which has been modified since moving to Wagtail. Can we ditch these entirely or do we still want them on that page?

[2017-11-09 14:48] anselmbradford opened #3575 "Double border in footer links at mobile"
## Current behavior

- When at mobile size the links in the footer stack on top of each other. Since it's three columns at desktop sizes, the three stacked columns end up with double borders between each stacked column. This is visible after the "Open Government" and "Tribal" link.

## Expected behavior

- Borders are not doubled up at mobile.

## Steps to replicate behavior

1. Resize consumerfin

[2017-11-09 15:33] anselmbradford opened #3576 "Document snyk"
## Current behavior

- `snyk` dependency [is used](https://github.com/cfpb/cfgov-refresh/blob/master/package.json#L101) for running `npm run test`, however, this requires an authenticated snyk account. (`snyk test requires an authenticated account. Please run `snyk auth` and try again.`). There is documentation on why snyk is in the project or how it should be setup.

## Expected behavior

- When/

[2017-11-09 16:19] anselmbradford opened #3578 "server-rack.png image used?"
Short description explaining the high-level reason for the new issue.

## Current behavior

- The site has both [server.png](https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/unprocessed/img/server.png) and [server-rack.png](https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/unprocessed/img/server-rack.png), but only server.png is referenced in the less files.

## Expected behavior

- O

[2017-11-10 00:26] sebworks commented on #1696
This is done.

[2017-11-10 00:26] #1696 closed

[2017-11-10 00:29] sebworks commented on #2634
The leadership calendar now has a breadcrumb, so I'm closing this.

[2017-11-10 00:29] #2634 closed

[2017-11-10 00:33] #2731 closed

[2017-11-10 00:48] sebworks commented on #667
This issue predates the move to atomic design and most of the templates have been removed.

[2017-11-10 00:48] #667 closed

[2017-12-06 19:25] #3578 closed